@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/inputsearch';
@import 'partials/grids';
@import 'partials/header';
@import 'partials/frontpage';
@import 'partials/banner';
@import 'partials/productgrid';
@import 'partials/productsorting';
@import 'partials/singleproduct';
@import 'partials/cartmodal';
@import 'partials/cartpage';
@import 'partials/reservepage';
@import 'partials/inputs';
@import 'partials/footer';
@import 'partials/social';
@import 'partials/faqpage';
@import 'partials/handelsvilkaar';
@import 'partials/omospage';
@import 'partials/spinners';
@import 'partials/404';

#secondary {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    float: left;

    .contained-404 {
      width: 100%;
      height: 100%;
      background-color: #000;
      margin-top: 25px;
      padding: 300px 150px;
      opacity: 1;
      @include trans(0.5s);

      h3 {
        color: $mainGreen;
      }
    }

    .contained-404.hidden {
      opacity: 0;
      padding: 0 150px;
    }

  }
}

