@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/inputsearch';
@import 'partials/grids';
@import 'partials/header';
@import 'partials/filters';
@import 'partials/banner';
@import 'partials/productgrid';
@import 'partials/productsorting';
@import 'partials/singleproduct';
@import 'partials/cartmodal';
@import 'partials/inputs';
@import 'partials/footer';
@import 'partials/social';
@import 'partials/spinners';

// @import 'partials/staticfront';

#secondary {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
