*.py
*.pyc
*.txt
*.sql.gz
*.sql
.DS_Store
.sass-cache
.zip
*.crt
*.key
*.csv
backups/*
public/wp-config-live.php
public/wp-content/uploads/*
public/wp-content/dbbackups/*
public/wp-content/languages/*
node_modules/*
social-app/node_modules/*
fpalt/node_modules/*
public/google50414660455d3d4d.html
