@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #f1f1f1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

html, body {
  font-family: "Roboto", sans-serif;
  color: #1f1f1f; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    user-select: none; }
  html h1, body h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase; }
  html h2, body h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 400;
    color: #007d96;
    text-transform: uppercase; }
  html h3, body h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 300;
    text-transform: uppercase; }
  html h3.upper, body h3.upper {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 42px;
    line-height: 1;
    font-weight: 300;
    color: #4fd5ca;
    text-transform: uppercase; }
  html h4, body h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    text-transform: uppercase; }
  html p, html address, body p, body address {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 1px; }
  html address, body address {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    padding: 20px 0 20px 0; }
  html p.cvr, body p.cvr {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    padding: 0px 0 20px 0;
    text-transform: uppercase; }
  html a, body a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  html a:hover, body a:hover {
    letter-spacing: 1px; }
  html a:active, body a:active {
    outline: none;
    text-decoration: none; }
  html blockquote, body blockquote {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 300;
    padding: 30px 50px 30px 50px; }
  html .first-letter, body .first-letter {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 110px;
    line-height: 0.87;
    font-weight: 700;
    float: left;
    margin: -6px 5px 0 0;
    color: #FFF;
    padding: 0 15px 45px; }
  html .body-text, body .body-text {
    margin: 55px 0; }
  html p.paragraph, body p.paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 25 0 25px 0; }
  html .float-text, body .float-text {
    float: left;
    margin: 51px 0 0 0; }

.site-content {
  width: 100%;
  height: auto;
  margin: 120px 0 0 0;
  padding: 0;
  float: left;
  text-align: center; }
  .site-content .product-list-grid {
    width: 100%;
    height: auto;
    float: left;
    text-align: center; }
  .site-content .content-area {
    width: 100%;
    margin: 0 auto 0 auto; }
    .site-content .content-area .site-main {
      width: 100%;
      margin: 0;
      text-align: left; }

@media (max-width: 960px) {
  .site-content .content-area {
    width: 100%;
    margin: 0 auto 0 auto; }
    .site-content .content-area .site-main {
      margin: 20px 0 0 0; } }

@media (max-width: 768px) {
  .site-content .content-area {
    width: 100%;
    margin: 0 auto 0 auto; }
    .site-content .content-area .site-main {
      margin: 20px 0 0 0;
      padding: 30px 30px 50px 30px; } }

@media (max-width: 480px) {
  .site-content .content-area {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px; }
    .site-content .content-area .site-main {
      margin: 20px 0 0 0; } }

@media (max-width: 320px) {
  .site-content .content-area {
    width: 100%;
    margin: 0 auto 0 auto; }
    .site-content .content-area .site-main {
      margin: 20px 0 0 0; } }

.menu-icon {
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 200000000; }
  .menu-icon svg.menu {
    width: 65px;
    height: 65px;
    overflow: hidden; }
    .menu-icon svg.menu g.icon-bg rect {
      fill: #2b2b2b;
      border-radius: 0 0 0 5px;
      transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .menu-icon svg.menu line.menu-line {
      stroke: #4fd5ca;
      transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }

.menu-icon.open svg.menu g.icon-bg rect {
  fill: #4fd5ca;
  border-radius: 0; }

.menu-icon.open svg.menu line.menu-line {
  stroke: #2b2b2b; }

.main-menu {
  position: absolute;
  width: 280px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: #2b2b2b;
  border-left: 1px solid #202020;
  padding: 85px 50px 20px;
  z-index: 300000;
  transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .main-menu h3 {
    font-size: 18px;
    margin: 10px 0 0px 0;
    color: #4fd5ca; }
  .main-menu ul.menu-filter li.cat-item a, .main-menu ul.menu-filter li.filter a {
    color: #FDFDFD;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 0 5px 0; }
  .main-menu ul.menu-filter li.cat-item a:hover, .main-menu ul.menu-filter li.filter a:hover {
    color: #4fd5ca; }
  .main-menu ul.menu-filter li.cat-item ul.children, .main-menu ul.menu-filter li.filter ul.children {
    margin: 5px 0 5px 15px; }
    .main-menu ul.menu-filter li.cat-item ul.children li.cat-item a, .main-menu ul.menu-filter li.filter ul.children li.cat-item a {
      color: #FDFDFD;
      outline: none;
      font-size: 12px;
      font-weight: 300;
      padding: 0 0 5px 0; }

.main-menu.hidden {
  right: -400px; }

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
  margin: 0;
  z-index: 100000; }
  .header .headerlogo {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 2px;
    left: 0px; }
    .header .headerlogo img {
      width: 160px;
      height: auto;
      margin: 6px 0 0 -23px; }
  .header .search-form {
    position: absolute;
    width: 250px;
    height: 65px;
    top: 0;
    right: 165px;
    overflow: hidden;
    z-index: 5;
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .header .search-form form.search {
      position: relative;
      width: 250px;
      height: 50px;
      top: 8px;
      right: 0px;
      overflow: hidden; }
      .header .search-form form.search label.search-label {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 0px;
        opacity: 1; }
        .header .search-form form.search label.search-label img {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: auto;
          z-index: 100;
          transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
        .header .search-form form.search label.search-label img {
          opacity: 1; }
      .header .search-form form.search input[type=text] {
        background-color: #2b2b2b;
        border: 2px solid transparent;
        padding: 6px 10px 6px 20px;
        font-size: 12px;
        outline: none;
        width: 20px;
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 1;
        color: #FFF;
        transition: all 0.6s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .header .search-form form.search input[type=text]:focus {
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #4fd5ca;
        width: 200px;
        padding: 6px 10px 6px 0; }
      .header .search-form form.search input[type=submit], .header .search-form form.search .search-submit {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 14px;
        background-color: #4fd5ca;
        border: none;
        padding: 10px 15px;
        color: #FFF;
        display: none;
        border-radius: 0 5px 5px 0; }
  .header .cart-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 90px;
    cursor: pointer;
    z-index: 100; }
    .header .cart-icon img {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 32px;
      height: auto;
      opacity: 0.4; }
    .header .cart-icon h5 {
      font-family: "Roboto Condensed", sans-serif;
      color: #FDFDFD;
      font-weight: 700;
      padding: 7px;
      font-size: 20px; }

.header-link-row {
  width: 100%;
  height: 30px;
  background-color: #2b2b2b;
  text-align: center;
  position: fixed;
  top: 65px;
  margin: 0 0 50px 0;
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
  z-index: 90000;
  transition: all 1s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .header-link-row a, .header-link-row p {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 7px 15px; }
  .header-link-row a.green, .header-link-row p.green {
    color: #4fd5ca; }
  .header-link-row a.green:hover {
    color: #FDFDFD; }
  .header-link-row a.white, .header-link-row p.white {
    color: #FDFDFD; }
  .header-link-row a.white:hover {
    color: #007c96; }

.header-link-row.hidden {
  top: -65px; }

.site-main .front-page.wrapper {
  width: 100%;
  height: 1300px;
  float: left;
  margin: -55px 0 0 0;
  background-color: #2b2b2b;
  position: relative;
  z-index: 1; }
  .site-main .front-page.wrapper .front-video-container {
    width: 100%;
    height: 260px;
    position: absolute;
    background-color: #000;
    top: 30px;
    left: 0;
    overflow: hidden;
    text-align: center; }
    .site-main .front-page.wrapper .front-video-container video {
      display: none;
      width: 80%;
      height: auto;
      margin: 0 auto 0 auto; }
  .site-main .front-page.wrapper .moving-content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 290px;
    left: 0;
    z-index: 10; }
    .site-main .front-page.wrapper .moving-content .bg-container {
      width: 100%;
      height: 56.25%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
      .site-main .front-page.wrapper .moving-content .bg-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0; }
    .site-main .front-page.wrapper .moving-content .filters.first {
      width: 50%;
      height: 56.25%;
      position: absolute;
      top: 150px;
      left: 150px;
      z-index: 100;
      text-align: left; }
    .site-main .front-page.wrapper .moving-content .filters.second {
      width: 50%;
      height: 56.25%;
      position: absolute;
      top: 150px;
      right: 150px;
      z-index: 100;
      text-align: right; }
    .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.cat-item a, .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.filter a {
      color: #4fd5ca;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      padding: 0 0 5px 0;
      transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.cat-item a:hover, .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.filter a:hover {
      color: #FDFDFD; }
    .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.cat-item ul.children, .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.filter ul.children {
      margin: 5px 25px 5px 0px; }
      .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.cat-item ul.children li.cat-item a, .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.filter ul.children li.cat-item a {
        color: #FDFDFD;
        outline: none;
        font-size: 14px;
        font-weight: 300;
        padding: 0 0 5px 0;
        transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.cat-item ul.children li.cat-item a:hover, .site-main .front-page.wrapper .moving-content .filters ul.front-filter li.filter ul.children li.cat-item a:hover {
        color: #4fd5ca; }

.site-main .banner-container {
  width: 100%;
  height: auto;
  float: left; }
  .site-main .banner-container .banner {
    width: 921px;
    height: auto;
    margin: 100px auto 200px auto; }
    .site-main .banner-container .banner img {
      width: 921px;
      height: auto; }

.menu-left {
  position: fixed;
  width: 170px;
  height: 100%;
  top: 65px;
  padding-top: 50px;
  padding-left: 20px;
  left: 0;
  text-align: left;
  z-index: 5;
  background-color: #2b2b2b; }
  .menu-left h3 {
    font-size: 20px;
    color: #4fd5ca; }
  .menu-left span {
    font-size: 12px;
    color: #FDFDFD;
    margin: 10px 0 10px 0; }
  .menu-left .categories, .menu-left .brands, .menu-left .sort-links {
    margin: 20px 0; }
    .menu-left .categories p, .menu-left .brands p, .menu-left .sort-links p {
      font-size: 14px;
      color: #FDFDFD;
      padding: 5px 0 5px 0;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .menu-left .categories p i.fa, .menu-left .brands p i.fa, .menu-left .sort-links p i.fa {
        font-size: 12px;
        margin: 0 5px 0 0;
        color: #007c96;
        transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .menu-left .categories p:hover i.fa, .menu-left .brands p:hover i.fa, .menu-left .sort-links p:hover i.fa {
      color: #FDFDFD; }

.product-list-grid {
  width: calc(100% - 170px);
  height: auto;
  float: left;
  margin-left: 170px;
  text-align: center; }
  .product-list-grid .page.products {
    width: calc(100% - 170px);
    height: calc(24px * 490px);
    height: auto;
    overflow: visible;
    float: left;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .product-list-grid .page.products ul.products {
      width: 100%;
      height: auto;
      float: left;
      position: relative;
      margin: 0 auto 0 auto;
      top: 50px;
      opacity: 1;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .product-list-grid .page.products ul.products li.product {
        width: 50%;
        min-width: 585px;
        height: 490px;
        margin: 0;
        float: left;
        overflow: hidden;
        position: relative;
        cursor: pointer; }
        .product-list-grid .page.products ul.products li.product .in-stock-icon {
          position: absolute;
          bottom: 48px;
          right: 0px;
          z-index: 10;
          padding: 2px 10px;
          background-color: rgba(0, 0, 0, 0.7); }
          .product-list-grid .page.products ul.products li.product .in-stock-icon span {
            font-size: 10px;
            color: #FDFDFD; }
          .product-list-grid .page.products ul.products li.product .in-stock-icon i.fa.fa-minus-square {
            color: #C72A2A; }
          .product-list-grid .page.products ul.products li.product .in-stock-icon i.fa.fa-check-square {
            color: #4fd5ca; }
        .product-list-grid .page.products ul.products li.product img {
          width: auto;
          height: auto;
          max-height: 350px;
          max-width: 350px;
          position: absolute;
          bottom: 50px;
          left: 50px;
          opacity: 1;
          z-index: 1;
          filter: grayscale(0%);
          transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
        .product-list-grid .page.products ul.products li.product .product-price {
          position: absolute;
          width: 100%;
          height: 48px;
          bottom: 0px;
          left: 0;
          padding: 12px 22px 12px 30px;
          background-color: #2b2b2b;
          color: #FDFDFD;
          text-align: right;
          z-index: 100;
          border-right: 1px solid #007c96; }
          .product-list-grid .page.products ul.products li.product .product-price span {
            font-size: 18px;
            font-weight: 700; }
            .product-list-grid .page.products ul.products li.product .product-price span del {
              float: left;
              margin: 0 10px 0 30px;
              color: #C72A2A; }
            .product-list-grid .page.products ul.products li.product .product-price span ins {
              text-decoration: none; }
          .product-list-grid .page.products ul.products li.product .product-price span.onsale {
            display: none; }
          .product-list-grid .page.products ul.products li.product .product-price .add-button {
            position: absolute;
            top: 0;
            left: 8px;
            width: 48px;
            height: 48px;
            cursor: pointer; }
            .product-list-grid .page.products ul.products li.product .product-price .add-button svg {
              position: absolute;
              top: 14px;
              left: 14px;
              width: 20px;
              height: 20px; }
              .product-list-grid .page.products ul.products li.product .product-price .add-button svg line.svg-line {
                stroke: #019db6;
                transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
            .product-list-grid .page.products ul.products li.product .product-price .add-button span.add-info {
              position: absolute;
              top: -17px;
              left: -8px;
              width: 100px;
              font-size: 10px;
              color: #FDFDFD;
              font-weight: 300;
              text-transform: uppercase;
              text-align: center;
              background-color: rgba(0, 0, 0, 0.7);
              padding: 2px 10px 2px 10px;
              margin: 0 auto 0 auto;
              opacity: 0;
              transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
          .product-list-grid .page.products ul.products li.product .product-price .add-button:hover svg line.svg-line {
            stroke: #FFFFFF; }
          .product-list-grid .page.products ul.products li.product .product-price .add-button:hover span.add-info {
            opacity: 1; }
        .product-list-grid .page.products ul.products li.product .sinus-product-info {
          position: absolute;
          width: 200px;
          height: 490px;
          bottom: 48px;
          right: 0px;
          z-index: 2;
          background-color: #F1F1F1;
          transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
          .product-list-grid .page.products ul.products li.product .sinus-product-info .product-title {
            width: 200px;
            height: auto;
            padding: 10px;
            float: right;
            text-align: right;
            margin: 100px 0 0 0; }
            .product-list-grid .page.products ul.products li.product .sinus-product-info .product-title h3 {
              font-family: "Roboto", sans-serif;
              font-weight: 400;
              font-size: 18px;
              color: #007c96; }
          .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc {
            width: 200px;
            height: auto;
            float: right;
            padding: 10px 10px 0;
            text-align: right;
            color: #2b2b2b; }
            .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc p, .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc span, .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc b {
              font-family: "Roboto Condensed", sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #2b2b2b; }
            .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc span.mere {
              float: left;
              font-family: "Roboto Condensed", sans-serif;
              font-size: 12px;
              color: #4fd5ca;
              transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
            .product-list-grid .page.products ul.products li.product .sinus-product-info .short-desc span.mere:hover {
              color: #FDFDFD; }
  .product-list-grid .page.products.hidden {
    width: calc(100% - 150px);
    height: 0px;
    overflow: hidden;
    opacity: 0; }
    .product-list-grid .page.products.hidden ul.products {
      height: 0px;
      opacity: 0; }

.atc-modal {
  position: fixed;
  width: 100%;
  height: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #2b2b2b;
  opacity: 0;
  top: 100px;
  padding: 25px;
  z-index: -1000;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .atc-modal h3 {
    font-size: 18px;
    color: #4fd5ca;
    font-weight: 400; }
  .atc-modal span {
    font-size: 16px;
    color: #FDFDFD;
    text-transform: uppercase; }

.product-list-grid .storefront-sorting {
  width: 100%;
  margin: 60px 0 60px 0;
  position: relative; }
  .product-list-grid .storefront-sorting form.woocommerce-ordering {
    margin: 0; }
    .product-list-grid .storefront-sorting form.woocommerce-ordering select.orderby {
      appearance: none;
      -webkit-appearance: none;
      width: 320px;
      height: 50px;
      padding: 10px 25px 10px 25px;
      font-size: 15px;
      text-transform: uppercase;
      border-radius: 0 10px 10px 0;
      border: 2px solid #4fd5ca;
      outline: none; }
      .product-list-grid .storefront-sorting form.woocommerce-ordering select.orderby option {
        padding: 10px;
        font-size: 15px;
        text-transform: uppercase; }
  .product-list-grid .storefront-sorting p.woocommerce-result-count {
    padding: 5px 25px;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.2;
    font-family: "Roboto", sans-serif;
    font-weight: 900; }
  .product-list-grid .storefront-sorting nav.woocommerce-pagination {
    width: 370px;
    height: 50px;
    padding: 10px 0;
    border-radius: 0 10px 10px 0;
    outline: none; }
    .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li {
      float: left;
      padding: 0;
      margin: 0 5px 0 0; }
      .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li a {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 15px;
        padding: 10px;
        border: 2px solid #4fd5ca;
        background-color: #FDFDFD;
        color: #007c96;
        transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
        outline: none;
        border-radius: 0 10px 10px 0; }
      .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li a:hover {
        background-color: #4fd5ca;
        color: #FDFDFD;
        border: 2px solid #4fd5ca; }
      .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li a.prev, .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li a.next {
        outline: none; }
      .product-list-grid .storefront-sorting nav.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 15px;
        background-color: #4fd5ca;
        color: #FDFDFD;
        padding: 10px 20px;
        border: 2px solid #4fd5ca;
        border-radius: 0 10px 10px 0; }

.sinus.single-product {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  min-height: 800px; }
  .sinus.single-product .single-product.icons {
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1000; }
    .sinus.single-product .single-product.icons .text-icon, .sinus.single-product .single-product.icons .add-button.single-product {
      width: 30px;
      height: 30px;
      border: 1px solid #F1F1F1;
      cursor: pointer;
      background-color: #FDFDFD;
      border-radius: 5px;
      position: absolute;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .sinus.single-product .single-product.icons .text-icon svg, .sinus.single-product .single-product.icons .add-button.single-product svg {
        width: 16px;
        height: 16px;
        position: absolute; }
      .sinus.single-product .single-product.icons .text-icon svg.texticon, .sinus.single-product .single-product.icons .add-button.single-product svg.texticon {
        top: 6px;
        left: 6px; }
        .sinus.single-product .single-product.icons .text-icon svg.texticon .a, .sinus.single-product .single-product.icons .add-button.single-product svg.texticon .a {
          fill: none;
          stroke: #acb1b0;
          stroke-miterlimit: 10;
          stroke-width: 8px; }
      .sinus.single-product .single-product.icons .text-icon svg.addicon, .sinus.single-product .single-product.icons .add-button.single-product svg.addicon {
        top: 6px;
        left: 6px; }
    .sinus.single-product .single-product.icons .text-icon {
      top: 0;
      left: 0; }
    .sinus.single-product .single-product.icons .text-icon.off {
      background-color: #2b2b2b; }
      .sinus.single-product .single-product.icons .text-icon.off svg.texticon .a {
        stroke: #F1F1F1; }
    .sinus.single-product .single-product.icons .add-button.single-product {
      top: 0;
      right: 0; }
  .sinus.single-product .main-image {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    float: left;
    top: 80px;
    left: 0;
    margin: 0 0 -3px 0;
    z-index: 1; }
    .sinus.single-product .main-image img {
      width: auto;
      height: auto;
      max-height: 100%;
      margin: 0 auto 0 auto; }
  .sinus.single-product .product-images {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin: 80px 0 0 0; }
    .sinus.single-product .product-images .product-image {
      width: 50%;
      height: auto;
      display: inline-block;
      margin: 0 auto 0 auto;
      border: 1px solid #F1F1F1;
      text-align: center; }
      .sinus.single-product .product-images .product-image img {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0 auto 0 auto; }
    .sinus.single-product .product-images .youtube-frame {
      width: 100%;
      float: left; }
  .sinus.single-product .product-content {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .sinus.single-product .product-content .product-left {
      float: left;
      width: 33%;
      height: auto;
      margin: 0;
      padding: 20px 30px 20px 50px;
      background-color: rgba(255, 255, 255, 0.7);
      opacity: 1;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .sinus.single-product .product-content .product-left h1 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px; }
      .sinus.single-product .product-content .product-left p {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        padding: 0 0 20px 0; }
    .sinus.single-product .product-content .product-right {
      float: right;
      width: auto;
      height: auto;
      max-width: 460px;
      margin: 0;
      padding: 20px 50px 20px 30px;
      background-color: rgba(255, 255, 255, 0.7);
      text-align: right;
      opacity: 1;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .sinus.single-product .product-content .product-right .product-text-right {
        opacity: 1;
        transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
        .sinus.single-product .product-content .product-right .product-text-right h3.specs {
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 20px; }
        .sinus.single-product .product-content .product-right .product-text-right p.specs {
          font-size: 15px;
          line-height: 1.7;
          font-weight: 700; }
      .sinus.single-product .product-content .product-right .product-text-right.off {
        opacity: 0; }
    .sinus.single-product .product-content .product-left, .sinus.single-product .product-content .product-right {
      position: relative;
      z-index: 100; }
    .sinus.single-product .product-content .product-left.off, .sinus.single-product .product-content .product-right.off {
      opacity: 0; }
    .sinus.single-product .product-content .product-controls {
      width: 200px;
      height: auto;
      float: right;
      margin: 0px 0 50px 0;
      pading: 0; }
      .sinus.single-product .product-content .product-controls .product-price h2 {
        line-height: 1;
        margin: 0 0 20px 0; }
      .sinus.single-product .product-content .product-controls .add-button.large {
        width: auto;
        height: auto;
        background-color: #4fd5ca;
        float: right;
        cursor: pointer; }
        .sinus.single-product .product-content .product-controls .add-button.large h3 {
          font-size: 24px;
          font-family: "Roboto Condensed", sans-serif;
          color: #FDFDFD;
          font-weight: 700;
          padding: 10px 25px; }
      .sinus.single-product .product-content .product-controls span.no-price {
        font-size: 15px;
        text-transform: uppercase; }

.site-content .cart-modal.cart-contents {
  width: 630px;
  height: auto;
  position: fixed;
  top: 95px;
  right: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 40px 40px;
  background-color: #2b2b2b;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
  text-align: left;
  z-index: 1000;
  border-top: 1px solid #4fd5ca;
  transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .site-content .cart-modal.cart-contents .cart-empty {
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0; }
    .site-content .cart-modal.cart-contents .cart-empty h4.cart {
      font-size: 18px;
      color: #4fd5ca; }
  .site-content .cart-modal.cart-contents .cart-count p.small {
    font-size: 11px;
    text-transform: uppercase;
    color: #4fd5ca;
    padding: 0 0 0 10px; }
  .site-content .cart-modal.cart-contents .cart-element {
    width: 100%;
    padding: 12px 10px; }
    .site-content .cart-modal.cart-contents .cart-element .remove-icon {
      width: 15px;
      height: 15px;
      float: left;
      margin: 0 5px 0 -25px;
      cursor: pointer; }
      .site-content .cart-modal.cart-contents .cart-element .remove-icon p {
        color: #C72A2A;
        font-famile: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 14px; }
    .site-content .cart-modal.cart-contents .cart-element .elem-title {
      float: left; }
    .site-content .cart-modal.cart-contents .cart-element .elem-qty-total {
      float: right; }
  .site-content .cart-modal.cart-contents .cart-total {
    width: 100%;
    padding: 28px 10px 28px 0px;
    color: #FDFDFD;
    text-align: right; }
    .site-content .cart-modal.cart-contents .cart-total p.small {
      font-size: 11px;
      text-transform: uppercase;
      color: #4fd5ca;
      padding: 0 0 0 10px; }
  .site-content .cart-modal.cart-contents .cart-link {
    width: 210px;
    height: 40px;
    position: absolute;
    padding: 10px 0 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .site-content .cart-modal.cart-contents .cart-link a {
      color: #FDFDFD;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      padding: 8px 60px; }
  .site-content .cart-modal.cart-contents .cart-link.first {
    background-color: #4fd5ca;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0 10px; }
  .site-content .cart-modal.cart-contents .cart-link.second:hover {
    background-color: #FFF; }
    .site-content .cart-modal.cart-contents .cart-link.second:hover a {
      color: #4fd5ca; }
  .site-content .cart-modal.cart-contents .cart-link.second {
    background-color: #007c96;
    left: 210px;
    bottom: 0;
    border-radius: 0; }
  .site-content .cart-modal.cart-contents .cart-link.first:hover {
    background-color: #FFF; }
    .site-content .cart-modal.cart-contents .cart-link.first:hover a {
      color: #007c96; }
  .site-content .cart-modal.cart-contents .cart-link.third {
    background-color: #4fd5ca;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 0; }
  .site-content .cart-modal.cart-contents .cart-link.third:hover {
    background-color: #FFF; }
    .site-content .cart-modal.cart-contents .cart-link.third:hover a {
      color: #4fd5ca; }
  .site-content .cart-modal.cart-contents p {
    color: #FDFDFD; }

.site-content .cart-contents.hidden {
  opacity: 0;
  z-index: -1000; }

.cart-page-container {
  width: 100%;
  height: auto;
  min-height: 800px;
  float: left;
  padding: 50px;
  text-align: left; }
  .cart-page-container .cart-contents {
    width: 860px;
    height: auto;
    padding: 0 0 50px 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .cart-page-container .cart-contents h1 {
      color: #4fd5ca;
      margin: 0 0 50px 0; }
    .cart-page-container .cart-contents .cart-count p.small {
      font-size: 16px;
      text-transform: uppercase;
      color: #007c96;
      padding: 0 0 0 0px; }
    .cart-page-container .cart-contents a, .cart-page-container .cart-contents .cart-element {
      width: 100%;
      height: 50px;
      float: left;
      padding: 12px 0px;
      position: relative; }
      .cart-page-container .cart-contents a .remove-icon, .cart-page-container .cart-contents .cart-element .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 19px;
        left: -50px; }
        .cart-page-container .cart-contents a .remove-icon p, .cart-page-container .cart-contents .cart-element .remove-icon p {
          color: #C72A2A;
          font-famile: "Roboto Condensed", sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 11px; }
      .cart-page-container .cart-contents a .elem-title, .cart-page-container .cart-contents .cart-element .elem-title {
        float: left;
        width: 80%; }
        .cart-page-container .cart-contents a .elem-title h3, .cart-page-container .cart-contents a .elem-title a, .cart-page-container .cart-contents .cart-element .elem-title h3, .cart-page-container .cart-contents .cart-element .elem-title a {
          font-size: 18px;
          color: #2b2b2b; }
      .cart-page-container .cart-contents a .elem-qty-total, .cart-page-container .cart-contents .cart-element .elem-qty-total {
        float: right;
        text-align: right;
        width: 20%; }
        .cart-page-container .cart-contents a .elem-qty-total h3, .cart-page-container .cart-contents a .elem-qty-total a, .cart-page-container .cart-contents .cart-element .elem-qty-total h3, .cart-page-container .cart-contents .cart-element .elem-qty-total a {
          font-size: 18px;
          color: #2b2b2b; }
    .cart-page-container .cart-contents .cart-total {
      width: 100%;
      height: auto;
      padding: 28px 0px 28px 0px;
      margin: 20px 0 0 0;
      color: #2b2b2b;
      float: left;
      text-align: right; }
      .cart-page-container .cart-contents .cart-total p.small {
        font-size: 14px;
        text-transform: uppercase;
        color: #2b2b2b;
        padding: 0 0 0 0px; }
    .cart-page-container .cart-contents .cart-page.reserver-link {
      right: 160px;
      background-color: #007c96; }
    .cart-page-container .cart-contents .cart-page.reserver-link:hover {
      background-color: #FDFDFD; }
      .cart-page-container .cart-contents .cart-page.reserver-link:hover a {
        color: #007c96; }
    .cart-page-container .cart-contents .cart-page.checkout-link {
      right: 0;
      background-color: #4fd5ca; }
    .cart-page-container .cart-contents .cart-page.checkout-link:hover {
      background-color: #FDFDFD; }
      .cart-page-container .cart-contents .cart-page.checkout-link:hover a {
        color: #4fd5ca; }
    .cart-page-container .cart-contents .cart-page.checkout-link, .cart-page-container .cart-contents .cart-page.reserver-link {
      width: 160px;
      height: auto;
      position: absolute;
      bottom: 0;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .cart-page-container .cart-contents .cart-page.checkout-link a, .cart-page-container .cart-contents .cart-page.reserver-link a {
        padding: 13px 32px;
        font-size: 18px;
        text-transform: uppercase;
        color: #FDFDFD;
        font-weight: 700;
        transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }

.reserve-form-container .page-header {
  margin: 50px 0 20px 0; }
  .reserve-form-container .page-header h1 {
    color: #4fd5ca; }

.reserve-form-container .text-content {
  width: 80%;
  height: auto;
  padding: 30px;
  margin: 0 auto 0 auto; }
  .reserve-form-container .text-content p {
    line-height: 1.5;
    font-size: 15px; }

.reserve-form-container form.reserve {
  width: 600px;
  height: auto;
  padding: 30px;
  margin: 0px auto 60px auto;
  text-align: center;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .reserve-form-container form.reserve input[type=text], .reserve-form-container form.reserve input[type=email] {
    width: 450px;
    padding: 15px 25px 15px 25px;
    float: none;
    margin: 20px auto 20px auto;
    border: 2px solid #F1F1F1;
    font-size: 16px;
    color: #2b2b2b;
    background-color: transparent;
    margin: 0px auto 10px auto;
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .reserve-form-container form.reserve input[type=text]:focus, .reserve-form-container form.reserve input[type=email]:focus {
    width: 470px;
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid #4fd5ca;
    padding: 15px 35px 15px 35px;
    outline: 0; }
  .reserve-form-container form.reserve input[type=text].error, .reserve-form-container form.reserve input[type=email].error {
    border: 2px solid #C72A2A; }
  .reserve-form-container form.reserve .submit-btn {
    width: 220px;
    height: 60px;
    margin: 60px auto 0 auto;
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
    .reserve-form-container form.reserve .submit-btn a {
      padding: 13px 38px;
      font-size: 18px;
      text-transform: uppercase;
      background-color: #007c96;
      color: #FDFDFD;
      font-weight: 700;
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .reserve-form-container form.reserve .submit-btn:hover a {
    background-color: #FDFDFD;
    color: #007c96; }

.reserve-form-container .validation.success {
  opacity: 0; }

.woocommerce {
  width: 100%;
  height: 1500px;
  float: left;
  padding: 0 0 100px 0; }
  .woocommerce form.checkout {
    padding: 50px;
    width: 100%; }
    .woocommerce form.checkout .col2-set .col-1, .woocommerce form.checkout .col2-set .col-2 {
      width: 50%;
      float: left; }
    .woocommerce form.checkout .col2-set h3 {
      float: right;
      text-transform: uppercase;
      margin: 15px;
      padding: 15px; }
    .woocommerce form.checkout p.form-row {
      margin: 10px 0px 40px 0px;
      float: left;
      text-align: left; }
      .woocommerce form.checkout p.form-row label {
        padding: 8px 15px 8px 15px;
        font-size: 16px;
        font-weight: 700;
        background-color: #F1F1F1;
        color: #2b2b2b;
        text-transform: uppercase;
        opacity: 0.5;
        transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .woocommerce form.checkout p.form-row label.focus {
        background-color: #4fd5ca;
        color: #FDFDFD;
        opacity: 1; }
      .woocommerce form.checkout p.form-row abbr.required {
        color: #007c96; }
      .woocommerce form.checkout p.form-row input[type=text], .woocommerce form.checkout p.form-row textarea, .woocommerce form.checkout p.form-row input[type=number], .woocommerce form.checkout p.form-row input[type=email], .woocommerce form.checkout p.form-row input[type=tel] {
        width: 530px;
        border: none;
        border-bottom: 1px solid #F1F1F1;
        padding: 8px 15px 8px 15px;
        font-size: 16px;
        outline: none;
        transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      .woocommerce form.checkout p.form-row input[type=text]:focus, .woocommerce form.checkout p.form-row input[type=number]:focus, .woocommerce form.checkout p.form-row input[type=email]:focus, .woocommerce form.checkout p.form-row input[type=tel]:focus {
        border-bottom: 1px solid #4fd5ca;
        outline: none; }
      .woocommerce form.checkout p.form-row textarea {
        width: 500px;
        height: 150px;
        margin-top: 5px;
        border: 1px solid #F1F1F1; }

footer, footer.site-footer {
  width: 100%;
  height: 450px;
  margin: 150px 0 0 0;
  background-color: #2b2b2b;
  float: left;
  position: relative;
  text-align: center;
  border-top: 5px solid #007c96; }
  footer .footer-bar, footer.site-footer .footer-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #202020; }
  footer .footer-content, footer.site-footer .footer-content {
    width: 960px;
    margin: 10px auto 0 auto;
    color: #FDFDFD; }
    footer .footer-content a, footer.site-footer .footer-content a {
      color: #FDFDFD; }
    footer .footer-content .footer-left, footer.site-footer .footer-content .footer-left {
      width: 50%;
      height: 100%;
      padding: 45px 0 0 0;
      margin: 0;
      float: left;
      text-align: left; }
      footer .footer-content .footer-left address.store-address, footer.site-footer .footer-content .footer-left address.store-address {
        width: 100%;
        padding: 0 50px 0 0; }
        footer .footer-content .footer-left address.store-address h4, footer.site-footer .footer-content .footer-left address.store-address h4 {
          color: #4fd5ca;
          margin: 0; }
        footer .footer-content .footer-left address.store-address p, footer.site-footer .footer-content .footer-left address.store-address p {
          font-size: 15px;
          font-weight: 700;
          color: #007c96;
          text-transform: uppercase;
          margin: -1px 0 1px; }
        footer .footer-content .footer-left address.store-address span, footer.site-footer .footer-content .footer-left address.store-address span {
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase; }
    footer .footer-content .footer-right, footer.site-footer .footer-content .footer-right {
      width: 50%;
      height: 100%;
      padding: 45px 0 0 0;
      margin: 0;
      float: right;
      text-align: right; }
      footer .footer-content .footer-right a, footer.site-footer .footer-content .footer-right a {
        color: #007c96;
        transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
      footer .footer-content .footer-right a:hover, footer.site-footer .footer-content .footer-right a:hover {
        color: #FDFDFD; }
  footer .map, footer.site-footer .map {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 140px;
    opacity: 1;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020; }
    footer .map .gm-style-cc, footer.site-footer .map .gm-style-cc {
      opacity: 0.2; }
  footer address.sub, footer.site-footer address.sub {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: 700;
    color: #FDFDFD;
    opacity: 0.2; }

.site-main .info-container {
  width: 960px;
  margin: 50px 0 0 0;
  padding: 20px;
  height: 140px;
  top: 100px;
  padding: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  background-color: #2b2b2b; }
  .site-main .info-container .info-content {
    width: 100%;
    height: 100%;
    color: #FDFDFD; }
    .site-main .info-container .info-content img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      float: left;
      margin: 0 20px 0 0; }
    .site-main .info-container .info-content h4 {
      font-size: 30px;
      color: #4fd5ca;
      padding: 20px 0 0 0; }
    .site-main .info-container .info-content p.name {
      text-transform: uppercase;
      color: #4fd5ca; }

.site-main .feed-container {
  position: relative;
  width: 960px;
  height: auto;
  min-height: 300px;
  top: 0px;
  padding: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDFDFD; }
  .site-main .feed-container .feed-content {
    position: relative;
    height: auto; }
    .site-main .feed-container .feed-content .image-nodes .image-container {
      width: 320px;
      height: 360px;
      float: left;
      margin: 0;
      position: relative; }
      .site-main .feed-container .feed-content .image-nodes .image-container a {
        font-size: 0;
        line-height: 0; }
      .site-main .feed-container .feed-content .image-nodes .image-container img {
        width: 320px;
        height: auto; }
      .site-main .feed-container .feed-content .image-nodes .image-container .like-bar {
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0;
        padding: 10px 10px 10px 0px;
        background-color: #2b2b2b; }
        .site-main .feed-container .feed-content .image-nodes .image-container .like-bar img {
          float: left;
          width: 20px;
          height: 20px;
          margin: 0px 10px 0 10px; }
        .site-main .feed-container .feed-content .image-nodes .image-container .like-bar p {
          float: left;
          color: #FDFDFD;
          font-size: 18px;
          margin: -2px 0 0 0;
          font-weight: 700; }

.spinner {
  position: absolute;
  width: 50px;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99); }
  .spinner .circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 5px solid transparent;
    border-right: 5px solid #4fd5ca;
    border-left: 5px solid #4fd5ca;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: mainSpin 2s infinite ease-in-out; }
  .spinner .circle1 {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: transparent;
    border: 2px solid #007c96;
    opacity: 1;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    animation: mainSpinInner 2s infinite ease-in-out; }

.spinner.hidden {
  opacity: 0;
  z-index: 0; }

@keyframes mainSpin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(359deg); } }

@keyframes mainSpinInner {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-359deg); } }

#secondary {
  display: none; }

html {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    float: left; }
