.article.container {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0px 0 0 0;
  text-align: center;
  background-color: $white;

  .article.headline-wrap {
    width: 100%;
    height: auto;
    float: left;
    margin: 0 0 100px 0;
    background-color: $mainGreen;

    .article.headline {
      width: 70%;
      height: auto;
      margin: 0 auto 0 auto;
      padding: 180px 150px 150px 100px;;
      text-align: left;

      h1 {
        font-size: 50px;
        font-weight: 300;
        color: $black;
      }
    }
  }

  .content-container {
    width: 70%;
    height: auto;
    padding: 50px 100px 100px;
    margin: 100px auto 0 auto;
    text-align: left;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin: 80px 0 0px 0;
      color: $black;
    }

    h4 {
      color: $mainGreen;
      font-weight: 900;
      font-size: 20px;

      a {
        color: $mainGreen;
        text-decoration: none;
        font-weight: 900;
        font-size: 20px;
      }

      a:hover {
        color: $black;
      }
    }

    p {
      font-weight: 400;
      line-height: 1.5;
      font-size: 15px;
    }

    a {
      font-weight: 900;
      line-height: 1.5;
      font-size: 15px;
      color: $mainGreen;
    }

    a:hover {
      color: $black;
    }
  }
}

@media screen and (max-width: 888px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 70%;
        padding: 180px 150px 150px 100px;;

        h1 {
          font-size: 40px;
        }
      }
    }

    .content-container {
      width: 70%;
      padding: 50px 100px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 26px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 20px;

        a {
          font-weight: 900;
          font-size: 20px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 15px;
      }

      a {
        line-height: 1.5;
        font-size: 15px;
      }
    }
  }
}


@media screen and (max-width: 820px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 80%;
        padding: 180px 150px 150px 100px;;

        h1 {
          font-size: 40px;
        }
      }
    }

    .content-container {
      width: 80%;
      padding: 50px 100px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 26px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 20px;

        a {
          font-weight: 900;
          font-size: 20px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 15px;
      }

      a {
        line-height: 1.5;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 85%;
        padding: 150px 150px 150px 70px;

        h1 {
          font-size: 32px;
        }
      }
    }

    .content-container {
      width: 85%;
      padding: 50px 70px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 16px;

        a {
          font-weight: 900;
          font-size: 16px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 14px;
      }

      a {
        line-height: 1.5;
        font-size: 14px;
      }
    }
  }

}

@media screen and (max-width: 540px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 90%;
        padding: 150px 150px 150px 70px;

        h1 {
          font-size: 32px;
        }
      }
    }

    .content-container {
      width: 90%;
      padding: 50px 70px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 14px;

        a {
          font-weight: 900;
          font-size: 14px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 14px;
      }

      a {
        line-height: 1.5;
        font-size: 14px;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 100%;
        padding: 150px 150px 150px 70px;

        h1 {
          font-size: 24px;
        }
      }
    }

    .content-container {
      width: 100%;
      padding: 50px 70px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 14px;

        a {
          font-weight: 900;
          font-size: 14px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 14px;
      }

      a {
        line-height: 1.5;
        font-size: 14px;
      }
    }
  }

}

@media screen and (max-width: 399px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 100%;
        padding: 150px 100px 150px 50px;

        h1 {
          font-size: 24px;
        }
      }
    }

    .content-container {
      width: 100%;
      padding: 50px 50px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 14px;

        a {
          font-weight: 900;
          font-size: 14px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 14px;
      }

      a {
        line-height: 1.5;
        font-size: 14px;
      }
    }
  }

}

@media screen and (max-width: 320px) {
  .article.container {

    .article.headline-wrap {
      margin: 0 0 100px 0;

      .article.headline {
        width: 100%;
        padding: 150px 100px 150px 50px;

        h1 {
          font-size: 22px;
        }
      }
    }

    .content-container {
      width: 100%;
      padding: 50px 50px 100px;
      margin: 100px auto 0 auto;

      h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 80px 0 0px 0;
      }

      h4 {
        font-weight: 900;
        font-size: 12px;

        a {
          font-weight: 900;
          font-size: 12px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 12px;
      }

      a {
        line-height: 1.5;
        font-size: 12px;
      }
    }
  }

}

