.site-main {

  .banner-container {
    width: 100%;
    height: auto;
    float: left;

    .banner {
      width: 921px;
      height: auto;
      margin: 100px auto 200px auto;

      img {
        width: 921px;
        height: auto;
      }
    }
  }
}
