.cart-page-container {
  width: 100%;
  height: auto;
  min-height: 800px;
  float: left;
  padding: 50px;
  text-align: left;

  .cart-contents {
    width: 860px;
    height: auto;
    padding: 0 0 50px 0;
    position: absolute;
    @include center();

    h1 {
      color: $mainGreen;
      margin: 0 0 50px 0;
    }

    .cart-count {
      p.small {
        font-size: 16px;
        text-transform: uppercase;
        color: $mainBlue;
        padding: 0 0 0 0px;
      }
    }

    a, .cart-element {
      width: 100%;
      height: 50px;
      float: left;
      padding: 12px 0px;
      position: relative;

      .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
      }

      .elem-title {
        float: left;
        width: 80%;

        h3, a {
          font-size: 18px;
          color: $white;
        }
      }

      .elem-qty-total {
        float: right;
        text-align: right;
        width: 20%;

        h3, a {
          font-size: 18px;
          color: $white;
        }
      }
    }

    .cart-total {
      width: 100%;
      height: auto;
      padding: 28px 0px 28px 0px;
      margin: 20px 0 0 0;
      color: $white;
      float: left;
      text-align: right;

      p.small {
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
        padding: 0 0 0 0px;
      }
    }

    .cart-page.reserver-link {
      right: 160px;
      background-color: $mainBlue;
    }

    .cart-page.reserver-link:hover {
      background-color: $white;

      a {
        color: $mainBlue;
      }
    }

    .cart-page.checkout-link {
      right: 0;
      background-color: $mainGreen;
    }

    .cart-page.checkout-link:hover {
      background-color: $white;

      a {
        color: $mainGreen;
      }
    }

    .cart-page.checkout-link, .cart-page.reserver-link {
      width: 160px;
      height: auto;
      position: absolute;
      bottom: 0;
      @include trans(0.5s);

      a {
        padding: 13px 32px;
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        @include trans(0.5s);
      }
    }
  }
}

@media screen and ( max-width: 1000px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 50px;

    .cart-contents {
      width: 620px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 14px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 18px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 768px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px;

    .cart-contents {
      width: 520px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 680px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px;

    .cart-contents {
      width: 520px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 580px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px;

    .cart-contents {
      width: 420px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 490px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px;

    .cart-contents {
      width: 320px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 414px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px;

    .cart-contents {
      width: 320px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 50px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: -40px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 14px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 14px;
        }
      }

      .cart-page.reserver-link {
        right: 160px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 160px;
        bottom: 0;

        a {
          padding: 13px 32px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and ( max-width: 390px ) {
  .cart-page-container {
    min-height: 800px;
    padding: 30px 10px;

    .cart-contents {
      width: 280px;
      padding: 0 0 50px 0;

      h1 {
        color: $mainGreen;
        margin: 0 0 50px 0;
      }

      .cart-count {
        p.small {
          font-size: 12px;
          text-transform: uppercase;
          color: $mainBlue;
          padding: 0 0 0 0px;
        }
      }

      a, .cart-element {
        width: 100%;
        height: 75px;
        float: left;
        padding: 12px 0px;
        position: relative;

        .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 40px;
        left: 0px;

        p {
          color: $red;
          font-size: 24px;
        }
        }

        .elem-title {
          float: left;
          width: 80%;

          h3, a {
            font-size: 12px;
            color: $white;
          }
        }

        .elem-qty-total {
          float: right;
          text-align: right;
          width: 20%;

          h3, a {
            font-size: 12px;
            color: $white;
          }
        }
      }

      .cart-total {
        padding: 28px 0px 28px 0px;
        margin: 20px 0 0 0;

        p.small {
          font-size: 11px;
        }
      }

      .cart-page.reserver-link {
        right: 140px;
      }

      .cart-page.checkout-link {
        right: 0;
        background-color: $mainGreen;
      }

      .cart-page.checkout-link, .cart-page.reserver-link {
        width: 140px;
        height: 50px;
        bottom: 0;

        a {
          padding: 15px 32px;
          font-size: 14px;
        }
      }
    }
  }
}

