.cart-page-container {
  width: 100%;
  height: auto;
  min-height: 800px;
  float: left;
  padding: 50px;
  text-align: left;

  .cart-contents {
    width: 860px;
    height: auto;
    padding: 0 0 50px 0;
    position: absolute;
    @include center();

    h1 {
      color: $mainGreen;
      margin: 0 0 50px 0;
    }

    .cart-count {
      p.small {
        font-size: 16px;
        text-transform: uppercase;
        color: $mainBlue;
        padding: 0 0 0 0px;
      }
    }

    a, .cart-element {
      width: 100%;
      height: 50px;
      float: left;
      padding: 12px 0px;
      position: relative;

      .remove-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 19px;
        left: -50px;

        p {
          color: $red;
          font-famile: $robotCon;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 11px;
        }
      }

      .elem-title {
        float: left;
        width: 80%;

        h3, a {
          font-size: 18px;
          color: $black;
        }
      }

      .elem-qty-total {
        float: right;
        text-align: right;
        width: 20%;

        h3, a {
          font-size: 18px;
          color: $black;
        }
      }
    }

    .cart-total {
      width: 100%;
      height: auto;
      padding: 28px 0px 28px 0px;
      margin: 20px 0 0 0;
      color: $black;
      float: left;
      text-align: right;

      p.small {
        font-size: 14px;
        text-transform: uppercase;
        color: $black;
        padding: 0 0 0 0px;
      }
    }

    .cart-page.reserver-link {
      right: 160px;
      background-color: $mainBlue;
    }

    .cart-page.reserver-link:hover {
      background-color: $white;

      a {
        color: $mainBlue;
      }
    }

    .cart-page.checkout-link {
      right: 0;
      background-color: $mainGreen;
    }

    .cart-page.checkout-link:hover {
      background-color: $white;

      a {
        color: $mainGreen;
      }
    }

    .cart-page.checkout-link, .cart-page.reserver-link {
      width: 160px;
      height: auto;
      position: absolute;
      bottom: 0;
      @include trans(0.5s);

      a {
        padding: 13px 38px;
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        @include trans(0.5s);
      }
    }


  }
}
