.cart-modal.cart-contents {
  width: 100vw;
  height: auto;
  position: relative;
  float: left;
  top: 65px;
  left: 0;
  padding: 20px 100px;
  background: $blckGrd;
  opacity: 1;
  text-align: center;
  z-index: 100000;
  border-top: 1px solid $bord;
  border-bottom: 1px solid $bord;
  @include trans(0.6s);

  p {
    font-size: 14px;
  }

  @include screen(640px) {
    padding: 40px;

    p {
      font-size: 12px;
    }

  }

  .cart-contents-wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;

    @include screen(960px) {
      width: 80%;
    }

    @include screen(610px) {
      width: 100%;
    }
  }

  .cart-empty {
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;

    h4.cart {
      font-size: 16px;
      font-weight: 400;
      color: $mainGreen;
    }
  }

  .cart-count {
    p.small {
      font-size: 11px;
      text-transform: uppercase;
      color: $mainGreen;
      padding: 0 0 0 10px;
    }
  }

  .cart-element {
    width: 100%;
    padding: 12px 10px;

    .remove-icon {
      width: 15px;
      height: 15px;
      float: left;
      margin: 0 5px 0 -25px;
      cursor: pointer;

      p {
        color: $red;
        font-family: $robotCon;
        font-weight: 700;
        font-size: 14px;

        @include screen(640px) {
          font-size: 12px;
        }

      }
    }

    .elem-title {
      float: left;
    }

    .elem-qty-total {
      float: right;
    }
  }

  .cart-total {
    width: 100%;
    padding: 28px 10px 28px 0px;
    color: $white;
    text-align: right;

    p.small {
      font-size: 11px;
      text-transform: uppercase;
      color: $mainGreen;
      padding: 0 0 0 10px;
    }
  }

  .cart-links {
    width: 630px;
    height: 40px;
    position: absolute;
    bottom: 0;
    @include center();

    @include screen(640px) {
      width: 100%;
    }
  }

  .cart-link {
    width: 210px;
    height: 40px;
    float: left;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    cursor: pointer;
    @include trans(0.3s);

    @include screen(640px) {
      width: auto;
      float: right;
    }

    a {
      color: #000000;
      font-weight: 700;
      font-family: $robot;
      font-size: 14px;
      padding: 8px 60px;

      @include screen(640px) {
        padding: 8px 20px;
      }
    }
  }

  .cart-link.first {
    background-color: $mainGreen;
  }

  .cart-link.first:hover {
    background-color: #000000;

    a {
      color: $mainGreen;
    }
  }

  .cart-link.second {
    background-color: $mainBlue;
  }

  .cart-link.second:hover {
    background-color: #000000;

    a {
      color: $mainBlue;
    }
  }

  .cart-link.third {
    background-color: $mainGreen;
  }

  .cart-link.third:hover {
    background-color: #000000;

    a {
      color: $mainGreen;
    }
  }

  p {
    color: $white;
  }

}

.cart-modal.cart-contents.fixed-open {
  position: fixed;
  top: 65px;
  left: 0;
}

.cart-contents.hidden {
  height: 0px;
  top: -400px;
  padding: 0px 100px 0px 100px;
  opacity: 0;
}
