$darkGreen: rgba(26, 129, 128, 1);
$lightGreen: rgba(37, 189, 177, 1);
$lightBlue: rgba(1, 157, 182, 1);
$darkBlue: rgba(0, 125, 150, 1);
$white: #FDFDFD;
$black: #2b2b2b;
$blckBorder: #202020;
$oB: rgba(0, 0, 0, 0.9);
$obLight: rgba(0, 0, 0, 0.7);
$whiteOp: rgba(255, 255, 255, 0.8);
$mainGreen: #4fd5ca;
$mainBlue: #007c96;
$red: #C72A2A;
$grey: #acb1b0;
$lightGrey: #F1F1F1;
$lighter: #FAFAFA;
$tBlue: rgba(0, 124, 150, 0.9);

