.faq-container {
  width: 100%;
  height: 100%;
  float: left;
  text-align: center;
  padding: 0 0 100px 0;
  background-color: $black;

  .headline {
    width: 100%;
    height: 100%;
    float: left;
    padding: 100px 5% 50px 5%;
    text-align: left;

    h1 {
      color: $mainGreen;
    }
  }

  .faq-element {
    width: 90%;
    height: auto;
    margin: 50px auto 0 auto;
    overflow: hidden;
    position: relative;
    padding: 100px;

    .content-bg {
      width: 120%;
      height: 120%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      img {
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        margin: -200px 0 0 0;
      }
    }

    .content-container {
      width: 100%;
      height: 100%;
      background-color: $whiteOp;
      position: relative;
      z-index: 5;
      padding: 50px 100px 50px 150px;
      text-align: left;

      .faq-icon {
        position: absolute;
        top: 50px;
        left: 25px;
        width: 100px;
        height: 100px;
        z-index: 2;

        img {
          width: 100%;
          height: auto;
        }
      }

      h3 {
        margin: 0 0 20px 0;
      }

      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
