footer, footer.site-footer {
  width: 100%;
  height: 450px;
  margin: 150px 0 0 0;
  background-color: $black;
  float: left;
  position: relative;
  text-align: center;
  border-top: 5px solid $mainBlue;

  .footer-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #111;
  }

  .footer-content {
    width: 960px;
    margin: 10px auto 0 auto;
    color: $white;

    a {
      color: $white;
    }

    .footer-left {
      width: 50%;
      height: 100%;
      padding: 45px 0 0 0;
      margin: 0;
      float: left;
      text-align: left;

      address.store-address {
        width: 100%;
        padding: 0 50px 0 0;

        h4 {
          color: $mainGreen;
          margin: 0;
        }

        p {
          font-size: 15px;
          font-weight: 700;
          color: $mainBlue;
          text-transform: uppercase;
          margin: -1px 0 1px;
        }

        span {
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }

    .footer-right {
      width: 50%;
      height: 100%;
      padding: 45px 0 0 0;
      margin: 0;
      float: right;
      text-align: right;

      h4 {
      }

      a {
        color: $mainBlue;
      }
    }
  }

  .map {
    position: absolute;
    bottom: 60px;
    @include center();
    width: 100%;
    height: 140px;
    opacity: 1;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;

    .gm-style-cc {
      opacity: 0.2;
    }
  }

  address.sub {
    position: absolute;
    bottom: 0px;
    @include center();
    font-size: 12px;
    font-weight: 700;
    color: #BCBCBC;
    opacity: 0.15;
  }
}
