footer, footer.site-footer {
  width: 100%;
  height: 450px;
  margin: 0px 0 0 0;
  background-color: $black;
  float: left;
  position: relative;
  text-align: center;
  border-top: 1px solid $mainBlue;

  .footer-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: $blckBorder;
  }

  .footer-content {
    width: 100%;
    margin: 10px auto 0 auto;
    color: $white;

    a {
      color: $white;
    }

    .footer-left {
      width: 50%;
      height: 100%;
      padding: 45px 10px 0 0;
      margin: 0;
      float: left;
      text-align: right;

      address.store-address {
        width: 100%;
        padding: 0;

        h4 {
          color: $mainGreen;
          margin: 0;
        }

        p {
          font-size: 15px;
          font-weight: 700;
          color: $mainBlue;
          text-transform: uppercase;
          margin: -1px 0 1px;
        }

        span {
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }

    .footer-right {
      width: 50%;
      height: 100%;
      padding: 73px 0 0 10px;
      margin: 0;
      float: right;
      text-align: left;

      a.text {
        color: $mainBlue;
        @include trans(0.3s);
      }

      a.text.link-last {
        margin-bottom: 13px;
      }

      a.social {
        font-size: 24px;
        color: $mainGreen;
        padding: 0;
        @include trans(0.3s);
      }

      a:hover {
        color: $white;
      }
    }
  }

  .map {
    position: absolute;
    bottom: 60px;
    @include center();
    width: 100%;
    height: 140px;
    opacity: 1;
    border-bottom: 1px solid $blckBorder;
    border-top: 1px solid $blckBorder;

    .gm-style-cc {
      opacity: 0.2;
    }
  }

  address.sub {
    position: absolute;
    bottom: 0px;
    @include center();
    font-size: 12px;
    font-weight: 700;
    color: $white;
    opacity: 0.2;
  }
}

@media screen and ( max-width: 540px ) {
  footer, footer.site-footer {
    height: 400px;

    .footer-content {

      .footer-left {
        padding: 45px 5px 0 0;

        address.store-address {

          h4 {
            font-size: 18px;
          }

          p {
            font-size: 12px;
            margin: -1px 0 1px;
          }

          span {
            font-size: 12px;
          }

          a {
            font-size: 12px;
          }
        }
      }

      .footer-right {
        padding: 65px 0 0 5px;

        a {
          font-size: 14px;
          padding: 0 0 5px 0;
        }

        a.text.link-last {
          margin-bottom: 13px;
        }

        a.social {
          font-size: 18px;
        }
      }
    }

    address.sub {
      font-size: 10px;
      font-weight: 700;
    }
  }
}

@media screen and ( max-width: 414px ) {
  footer, footer.site-footer {
    height: 400px;

    .footer-content {

      .footer-left {
        padding: 25px 5px 0 20px;

        address.store-address {

          h4 {
            font-size: 16px;
          }

          p {
            font-size: 10px;
            margin: -1px 0 1px;
          }

          span {
            font-size: 10px;
          }

          a {
            font-size: 10px;
          }
        }

        a {
          p {
            font-size: 10px;
          }
        }
      }

      .footer-right {
        padding: 40px 0 0 5px;

        a {
          font-size: 14px;
          padding: 0 0 5px 0;
        }

        a.text.link-last {
          margin-bottom: 13px;
        }

        a.social {
          font-size: 16px;
        }
      }
    }

    .map {
      bottom: 80px;
    }

    address.sub {
      font-size: 13px;
      font-weight: 700;
    }
  }
}
