.bottom-info {
  width: 100%;
  height: auto;
  background: $blckGrd;
  float: left;
  margin: 150px 0 0px 0;
  padding: 75px 125px;

  @include screen(980px) {
    padding: 75px;
  }

  @include screen(720px) {
    padding: 60px;
  }

  @include screen(620px) {
    padding: 50px;
  }

  @include screen(375px) {
    padding: 30px;
  }

  h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $mainGreen;
  }

  .left, .right {
    width: 50%;
    height: auto;
    padding: 0px;

    @include screen(550px) {
      width: 100%;
    }

    .binfo-element {
      position: relative;
      width: 100%;
      height: auto;
      float: left;
      padding: 20px 50px 20px 25px;

      @include screen(768px) {
        padding: 20px 40px 10px 15px;
      }

      @include screen(620px) {
        padding: 20px 20px 0px 10px;
      }
    }

    .binfo-element:before {
      content: " ";
      position: absolute;
      background-color: $mainBlue;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      top: 28px;
      left: 0px;
    }

    span {
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #FFFFFF;
      line-height: 1.3;

      @include screen(680px) {
        font-size: 12px;
      }

      a {
        color: $mainGreen;
        text-transform: none;
        @include trans(0.4s);

        @include screen(680px) {
          font-size: 12px;
        }
      }

      a:hover {
        color: #FFFFFF;
      }
    }
  }

  .left {
    float: left;
    text-align: left;
  }

  .right {
    float: right;
    text-align: left;
  }
}


footer, footer.site-footer {
  width: 100%;
  height: 450px;
  margin: 0px 0 0 0;
  background: $black;
  float: left;
  position: relative;
  text-align: center;
  border-top: 1px solid $mainBlue;

  .footer-bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: $blckBorder;
  }

  .footer-content {
    width: 100%;
    margin: 10px auto 0 auto;
    color: $white;

    a {
      color: $white;
    }

    .opening-hours {
      display: none;
      position: absolute;
      right: 50px;
      top: 60px;
      width: 88px;
      height: auto;
      text-align: left;

      .open-left {
        width: 45px;
        float: left;
        text-align: left;
      }

      .open-right {
        width: 43px;
        float: right;
        text-align: right;
      }

      h4 {
        color: $mainGreen;
        font-size: 15px;
      }

      span {
        font-size: 12px;
        color: $white;
      }
    }


    .footer-left {
      width: 50%;
      height: 100%;
      padding: 52px 10px 0 0;
      margin: 0;
      float: left;
      text-align: right;

      a, p {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
      }

      address.store-address {
        width: 100%;
        padding: 0;

        h4 {
          color: $mainGreen;
          margin: 0;
        }

        p {
          font-size: 12px;
          font-weight: 700;
          color: $mainBlue;
          text-transform: uppercase;
          margin: -1px 0 1px;
        }

        span, a {
          font-size: 12px;
          font-weight: 700;
          line-height: 1.5;
          text-transform: uppercase;
        }
      }
    }

    .footer-right {
      width: 50%;
      height: 100%;
      padding: 81px 0 0 10px;
      margin: 0;
      float: right;
      position: relative;
      text-align: left;

      a.text {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.7;
        text-transform: uppercase;
        color: $mainBlue;
        @include trans(0.3s);
      }

      a.text.link-last {
        margin-bottom: 13px;
      }

      a.social {
        font-size: 24px;
        color: $mainGreen;
        padding: 0;
        @include trans(0.3s);
      }

      a:hover {
        color: $white;
      }
    }
  }

  .map {
    position: absolute;
    bottom: 60px;
    @include center();
    width: 100%;
    height: 140px;
    opacity: 1;
    border-bottom: 1px solid $blckBorder;
    border-top: 1px solid $blckBorder;

    .gm-style-cc {
      opacity: 0.05;
    }
  }

  address.sub {
    position: absolute;
    bottom: 0px;
    @include center();
    font-size: 12px;
    font-weight: 400;
    color: $white;
    opacity: 0.5;
    letter-spacing: 2px;
  }
}

@media screen and ( max-width: 640px ) {
  footer, footer.site-footer {
    height: 550px;

    .footer-content {

      .opening-hours {
        @include center();
        top: 190px;
        text-align: center;
      }

      .footer-left {
        padding: 45px 5px 0 0;

        address.store-address {

          h4 {
            font-size: 18px;
          }

          p {
            font-size: 12px;
            margin: -1px 0 1px;
          }

          span {
            font-size: 12px;
          }

          a {
            font-size: 12px;
          }
        }
      }

      .footer-right {
        padding: 65px 0 0 5px;

        a {
          font-size: 14px;
          padding: 0 0 5px 0;
        }

        a.text.link-last {
          margin-bottom: 13px;
        }

        a.social {
          font-size: 18px;
        }
      }
    }

    address.sub {
      font-size: 10px;
      font-weight: 700;
    }
  }
}

@media screen and ( max-width: 414px ) {
  footer, footer.site-footer {
    height: 550px;

    .footer-content {

      .opening-hours {
        @include center();
        top: 165px;
        text-align: center;
      }

      .footer-left {
        padding: 25px 5px 0 20px;

        address.store-address {

          h4 {
            font-size: 16px;
          }

          p {
            font-size: 10px;
            margin: -1px 0 1px;
          }

          span {
            font-size: 10px;
          }

          a {
            font-size: 10px;
          }
        }

        a {
          p {
            font-size: 10px;
          }
        }
      }

      .footer-right {
        padding: 40px 0 0 5px;

        a {
          font-size: 14px;
          padding: 0 0 5px 0;
        }

        a.text.link-last {
          margin-bottom: 13px;
        }

        a.social {
          font-size: 16px;
        }
      }
    }

    .map {
      bottom: 80px;
    }

    address.sub {
      font-size: 13px;
      font-weight: 700;
    }
  }
}

@media screen and ( max-width: 320px ) {
  footer, footer.site-footer {
    height: 555px;

    .footer-content {

      .opening-hours {
        @include center();
        top: 180px;
        text-align: center;
      }

      .footer-left {
        padding: 25px 5px 0 20px;

        address.store-address {

          h4 {
            font-size: 16px;
          }

          p {
            font-size: 10px;
            margin: -1px 0 1px;
          }

          span {
            font-size: 10px;
          }

          a {
            font-size: 10px;
          }
        }

        a {
          p {
            font-size: 10px;
          }
        }
      }

      .footer-right {
        padding: 40px 0 0 5px;

        a {
          font-size: 14px;
          padding: 0 0 5px 0;
        }

        a.text.link-last {
          margin-bottom: 13px;
        }

        a.social {
          font-size: 16px;
        }
      }
    }

    .map {
      bottom: 80px;
    }

    address.sub {
      font-size: 13px;
      font-weight: 700;
    }
  }
}
