.fp-slider-container {
  width: 66.6%;
  height: 460px;
  min-height: 460px;
  float: left;
  overflow: hidden;
  border: 1px solid $bord;

  @include screen(1169px) {
    width: 100%;
  }

  @include screen(580px) {
    width: 100%;
    height: 250px;
    min-height: 250px;
  }


  @include screen(414px) {
    width: 100%;
    height: 230px;
    min-height: 230px;
  }


  @include screen(375px) {
    width: 100%;
    height: 210px;
    min-height: 210px;
  }

  @include screen(320px) {
    width: 100%;
    height: 190px;
    min-height: 190px;
  }

  .banners-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    .nextprev {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .next-btn, .prev-btn {
        position: absolute;
        width: 34px;
        height: 34px;
        top: calc(50% - 17px);
        background: rgba(0, 0, 0, 0.8);
        z-index: 100;
        cursor: pointer;
        @include trans(0.6s);

        i.fa {
          position: absolute;
          font-size: 30px;
          color: #FFFFFF;
          opacity: 0.4;
          padding: 3px 3px;
          @include trans(0.6s);
        }
      }

      .next-btn:hover, .prev-btn:hover {
        width: 68px;
        background: rgba(0,0,0,0.3);

        i.fa {
          color: $mainGreen;
          opacity: 1;
          padding: 3px 6px;
        }
      }

      .next-btn {
        right: 0;

        i.fa {
          right: 4px;
        }
      }

      .prev-btn {
        left: 0;

        i.fa {
          left: 4px;
        }
      }
    }

    .banner-element {
      width: 100%;
      height: 460px;
      position: absolute;
      top: 0px;
      z-index: 1;
      @include trans(0.45s);

      @include screen(580px) {
        width: 100%;
        height: 250px;
        min-height: 250px;
      }

      @include screen(414px) {
        width: 100%;
        height: 230px;
        min-height: 230px;
      }

      @include screen(375px) {
        width: 100%;
        height: 210px;
        min-height: 210px;
      }

      @include screen(320px) {
        width: 100%;
        height: 190px;
      }

      a > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }

    .banner-element.active {
      left: 0px;
    }

    .banner-element.out {
      left: -1000px;
    }

    .banner-element.pre-in {
      left: 1000px;
    }

    .banner-element.pre-in-bw {
      left: -1000px;
    }

    .banner-element.out-bw {
      left: 1000px;
    }

    .banner-element.hidden {
      display: none;
    }
  }
}
