
  .front-page.wrapper {
    width: 100%;
    height: auto;
    min-height: 1900px;
    float: left;
    position: relative;
    margin: -55px 0 0 0;
    padding: 20px 0;
    background-color: $black;
    z-index: 1;

    .front-video-container {
      width: 100%;
      height: 0px;
      position: absolute;
      background-color: #000;
      top: 30px;
      left: 0;
      overflow: hidden;
      text-align: center;

      .spinner {
        display: none;
      }

      video {
        display: none;
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
      }
    }

    .moving-content {
      width: 100%;
      height: auto;
      min-height: 1900px;
      position: relative;
      float: left;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: auto;
        position: relative;
        top: 0px;
        left: 0;
        float: left;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 14px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }

      .banner-container {
        width: 100%;
        height: auto;
        position: relative;
        top: 720px;
        margin: 0;
        padding: 0;
        float: left;
        z-index: 100;

        .banner {
          width: 100%;
          height: auto;
          float: left;

          a {
            width: 100%;
            height: auto;
            float: left;

            img {
              width: 100%;
              height: auto;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }

@media screen and (min-width: 1900px) {
 .front-page.wrapper {
    min-height: 3200px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 3200px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 350px;
        left: 70px;
      }

      .filters.second {
        top: 350px;
        right: 70px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 14px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 1280px;
      }
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 1899px) {
 .front-page.wrapper {
    min-height: 2600px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 2600px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 350px;
        left: 70px;
      }

      .filters.second {
        top: 350px;
        right: 70px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 14px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 1080px;
      }
    }
  }
}


@media screen and (min-width: 1281px) and (max-width: 1599px) {
 .front-page.wrapper {
    min-height: 2600px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 2600px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 350px;
        left: 70px;
      }

      .filters.second {
        top: 350px;
        right: 70px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 14px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 1000px;
      }
    }
  }
}


@media screen and (max-width: 980px) {
 .front-page.wrapper {
    min-height: 1600px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1600px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 350px;
        left: 70px;
      }

      .filters.second {
        top: 350px;
        right: 70px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 14px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 560px;
      }
    }
  }
}


@media screen and (max-width: 800px) {
 .front-page.wrapper {
    min-height: 1300px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1300px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 250px;
        left: 70px;
      }

      .filters.second {
        top: 250px;
        right: 70px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 14px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 460px;
      }
    }
  }

}

@media screen and (max-width: 640px) {
 .front-page.wrapper {
    min-height: 1300px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1300px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 230px;
        left: 40px;
      }

      .filters.second {
        top: 230px;
        right: 40px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 12px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 12px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
     }

      .banner-container {
        top: 460px;
      }
   }
  }
}


@media screen and (max-width: 480px) {
 .front-page.wrapper {
    min-height: 1300px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1300px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 500px;
        left: 30px;
      }

      .filters.second {
        top: 500px;
        right: 30px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 12px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 12px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 620px;
      }
    }
  }
}


@media screen and (max-width: 414px) {
 .front-page.wrapper {
    min-height: 1300px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1300px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 480px;
        left: 30px;
      }

      .filters.second {
        top: 480px;
        right: 30px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 12px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 12px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 620px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
 .front-page.wrapper {
    min-height: 1300px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1300px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 480px;
        left: 20px;
      }

      .filters.second {
        top: 480px;
        right: 20px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 11px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 11px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 620px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
 .front-page.wrapper {
    min-height: 1100px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .moving-content {
      min-height: 1100px;
      top: 80px;

      .bg-container {
        top: 0px;
      }

      .filters.first {
        top: 450px;
        left: 20px;
      }

      .filters.second {
        top: 450px;
        right: 20px;
      }

      .filters {
        ul.front-filter {
          li.cat-item, li.filter {
            a {
              padding: 5px 10px;
              font-size: 10px;
              line-height: 2;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  font-size: 10px;
                  padding: 0 0 5px 0;
                }
              }
            }
          }
        }
      }

      .banner-container {
        top: 520px;
      }
    }
  }
}
