
  .front-page.wrapper {
    width: 100%;
    height: auto;
    min-height: 1000px;
    float: left;
    position: relative;
    margin: -55px 0 0 0;
    padding: 20px 0;
    background-color: $black;
    z-index: 1;

    .front-video-container {
      width: 100%;
      height: 0px;
      position: absolute;
      background-color: #000;
      top: 30px;
      left: 0;
      overflow: hidden;
      text-align: center;

      .spinner {
        display: none;
      }

      video {
        display: none;
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
      }
    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 14px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }

@media screen and (min-width: 1600px) {
.front-page.wrapper {
    width: 100%;
    height: auto;
    min-height: 1500px;
    float: left;
    position: relative;
    margin: -55px 0 0 0;
    padding: 20px 0;
    background-color: $black;
    z-index: 1;

    .front-video-container {
      width: 100%;
      height: 0px;
      position: absolute;
      background-color: #000;
      top: 30px;
      left: 0;
      overflow: hidden;
      text-align: center;

      .spinner {
        display: none;
      }

      video {
        display: none;
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
      }
    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 8px 10px;
              outline: none;
              font-size: 18px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
.front-page.wrapper {
    width: 100%;
    height: auto;
    min-height: 1200px;
    float: left;
    position: relative;
    margin: -55px 0 0 0;
    padding: 20px 0;
    background-color: $black;
    z-index: 1;

    .front-video-container {
      width: 100%;
      height: 0px;
      position: absolute;
      background-color: #000;
      top: 30px;
      left: 0;
      overflow: hidden;
      text-align: center;

      .spinner {
        display: none;
      }

      video {
        display: none;
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
      }
    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 350px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 6px 10px;
              outline: none;
              font-size: 18px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .front-page.wrapper {
    min-height: 800px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 300px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 300px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 14px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 666px) {
  .front-page.wrapper {
    min-height: 800px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 200px;
        padding: 70px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 250px;
        left: 70px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 250px;
        right: 70px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 14px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 580px) {
  .front-page.wrapper {
    min-height: 800px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 160px;
        padding: 40px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        left: 50px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 200px;
        right: 50px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 12px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .front-page.wrapper {
    min-height: 800px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 160px;
        padding: 40px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 460px;
        left: 40px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 460px;
        right: 40px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 5px 10px;
              outline: none;
              font-size: 12px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 414px) {
  .front-page.wrapper {
    min-height: 800px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 160px;
        padding: 40px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 450px;
        left: 20px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 450px;
        right: 20px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 4px 8px;
              outline: none;
              font-size: 12px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .front-page.wrapper {
    min-height: 850px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 160px;
        padding: 40px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 400px;
        left: 20px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 400px;
        right: 20px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 4px 8px;
              outline: none;
              font-size: 11px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .front-page.wrapper {
    min-height: 700px;
    margin: -55px 0 0 0;
    padding: 20px 0;

    .front-video-container {

    }

    .moving-content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 10;

      .catch {
        width: 100%;
        height: 160px;
        padding: 40px 0;
        background-color: #000;
        border-bottom: 1px solid $mainGreen;

        h3 {
          font-size: 20px;
          color: $mainGreen;
        }
      }

      .bg-container {
        width: 100%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          opacity: 0;
        }
      }

      .filters.first {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 370px;
        left: 20px;
        z-index: 100;
        text-align: left;
      }

      .filters.second {
        width: 50%;
        height: ((100% / 16px) * 9px);
        position: absolute;
        top: 370px;
        right: 20px;
        z-index: 100;
        text-align: right;
      }

      .filters {
        ul.front-filter {

          li.cat-item, li.filter {
            a {
              color: $mainGreen;
              background-color: $obLight;
              padding: 4px 8px;
              outline: none;
              font-size: 11px;
              font-weight: 700;
              line-height: 2;
              @include trans(0.3s);
            }

            a:hover {
              color: $white;
            }

            ul.children {
              margin: 5px 25px 5px 0px;

              li.cat-item {
                a {
                  color: $white;
                  outline: none;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 0 0 5px 0;
                  @include trans(0.3s);
                }

                a:hover {
                  color: $mainGreen;
                }
              }
            }
          }
        }
      }
    }
  }
}
