.fp-wrap {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
}

.fp-content-wrap {
  width: 100vw;
  height: auto;
  margin: 9px auto;
}

.fp-content-row {
  width: 100vw;
  height: auto;
  float: left;
  margin: 0px auto;
  padding: 0px 0px;
  text-align: center;
}

.fp-content-row.fixed {
  width: 1170px;
  height: auto;
  min-height: 500px;
  float: none;
  margin: 0px auto 150px;
  padding: 110px 0px;
  text-align: center;

  @include screen(1196px) {
    width: 100%;
  }

  @include screen(960px) {
    width: 100%;
    padding: 0;
  }
}

.fp-content-row.black {
  background: #000000;
}

.fp-content-row.green {
  background: $mainGreen;
}

.main-logo {
  background: $mainGreen;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  @include border(50%);
}

.brand-circle {
  width: 150px;
  height: 150px;
  background: $mainGreen;
  text-align: center;
  margin: 80px auto 50px;
  position: relative;
  @include border(50%);

  @include screen(1170px) {
    width: 100px;
    height: 100px;
    margin: 10px auto 10px;
  }

  @include screen(840px) {
    width: 60px;
    height: 60px;
    margin: 10px auto 10px;
  }

  span {
    position: absolute;
    top: 37%;
    @include center;
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    @include screen(1170px) {
      top: 38%;
      font-size: 16px;
    }

    @include screen(840px) {
      top: 38%;
      font-size: 11px;
    }
  }
}

.brand-circle.info {
  margin: 80px auto 20px;

  @include screen(1170px) {
    margin: 30px auto 30px;
  }

  @include screen(960px) {
    margin: 10px auto 10px;
  }

  @include screen(767px) {
    display: none;
  }
}

.brand-circle.articles {
  margin: 200px auto 40px;
}

.brand-circle.reversed {
  background: #000000;
  span {
    color: $mainGreen;
  }
}

.fp-aboutus {
  float: left;
  width: 33.3%;
  height: auto;
  min-height: 460px;
  background: $blckGrd;
  text-align: left;
  padding: 45px 25px;
  color: $white;

  @include screen(1169px) {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  h4 {
    color: $mainGreen;
    font-weight: 700;
  }
}

// info

.info-left {
  width: 50%;
  height: 0;
  margin: 0;
  padding: 0 0 50%;
  float: left;
  opacity: 0.3;
  @include trans(0.4s);

  @include screen(679px) {
    width: 100%;
  }
}

.info-left:hover {
  opacity: 1;
}

.info-right {
  background: $mainGreen;
  width: 50%;
  height: 0;
  padding: 0px 30px 50%;
  margin: 0;
  float: left;

  @include screen(679px) {
    width: 100%;
  }

  @include screen(640px) {
    width: 100%;
    padding: 0px 30px 60%;
  }

  @include screen(600px) {
    width: 100%;
    padding: 0px 30px 65%;
  }

  @include screen(540px) {
    width: 100%;
    padding: 0px 30px 80%;
  }

  @include screen(479px) {
    width: 100%;
    padding: 0px 20px 85%;
  }

  @include screen(414px) {
    width: 100%;
    padding: 0px 20px 90%;
  }

  @include screen(400px) {
    width: 100%;
    padding: 0px 20px 100%;
  }

  @include screen(360px) {
    width: 100%;
    padding: 0px 20px 105%;
  }

  @include screen(320px) {
    width: 100%;
    padding: 0px 10px 115%;
  }

  .info-store-address {
    margin: 0;

    @include screen(767px) {
      margin: 38px 0 0 0;
    }

    @include screen(680px) {
      margin: 20px 0 0 0;
    }

    @include screen(640px) {
      margin: 40px 0 0 0;
    }

    span, a {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #000000;

      @include screen(960px) {
        font-size: 12px;
      }
    }
  }

  .opening-hours {
    width: 100%;
    height: auto;
    margin: 30px 0;

    h4 {
      font-weight: 400;
      color: #000000;

      @include screen(960px) {
        font-size: 14px;
      }
    }

    .open-left, .open-right {
      width: 50%;
      float: left;
      padding: 20px;

      @include screen(960px) {
        padding: 10px;
      }
    }

    .open-left {
      text-align: right;
    }

    .open-right {
      text-align: left;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #000000;

      @include screen(960px) {
        font-size: 12px;
      }
    }
  }

}


// Brands

.brands-left {
  width: 50%;
  height: 611px;
  padding: 80px 30px 30px 30px;
  float: left;
  margin: 0px 0 0 0;
  background: $mainGreen;

  @include screen(960px) {
    width: 33.3%;
  }

  @include screen(464px) {
    display: none;
  }
}

.brands-right {
  width: 50%;
  height: 611px;
  padding: 0px;
  float: left;
  margin: 0px 0 0 0;

  @include screen(960px) {
    width: 66.6%;
  }

  @include screen(464px) {
    width: 100%;
  }
}

.brands-desc {
  span {
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    @include screen(960px) {
      font-size: 12px;
    }

    @include screen(510px) {
      font-size: 10px;
    }
  }
}

ul.brands-list {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;

  li.brand {
    width: 49%;
    height: 47px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    @include trans(0.6s);

    a {
      font-size: 16px;
      font-weight: 400;
      padding: 10px 50px;
      letter-spacing: 1px;
      @include trans(0.3s);

      @include screen(960px) {
        font-size: 12px;
      }

      @include screen(710px) {
        font-size: 12px;
        padding: 10px;
      }
    }
  }

  li.brand:nth-child(odd) {
    background: $blckGrd;

    a {
      color: $mainGreen;
    }
  }

  li.brand:nth-child(even) {
    background: #000000;

    a {
      color: $mainGreen;
    }
  }

  li.brand:nth-child(even):hover, li.brand:nth-child(odd):hover {
    background: $mainGreen;

    a {
      color: #000000;
    }
  }
}



// Articles

ul.articles.front {
  width: 100vw;
  height: auto;
  float: left;
  margin: 0px 0 100px;
}

ul.articles.front > li.article {
  width: 100vw;
  height: 0;
  padding-bottom: 49.5%;
  float: left;
  position: relative;
  border: 2px solid $bord;
  margin: 0 0 2px;
  overflow: hidden;
}


li.article .image-container {
  width: 50%;
  height: auto;
  padding-bottom: 50%;
  float: left;
  z-index: 1;
  overflow: hidden;
  background: #000000;

  @include screen(680px) {
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: blur(0px);
    transform: scale3d(1,1,1);
    filter: grayscale(0%);
    @include trans(0.3s);
  }

  .article-info {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 10;
    opacity: 0;
    background: rgba(0,0,0,0.7);
    padding: 20px 40px;
    font-size: 16px;
    color: $white;

    letter-spacing: 10px;
    @include trans(0.3s);
  }
}

li.article .image-container:hover {
  img {
    transform: scale3d(1.05,1.05,1.05);
    filter: blur(2px);
    filter: grayscale(100%);
  }

  .article-info {
    opacity: 1;
  }
}

.article-excerpt {
  width: 50%;
  height: auto;
  min-height: 300px;
  padding: 80px 40px 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: $mainGreen;
  text-align: left;

  @include screen(960px) {
    padding: 60px 40px 50%;
  }

  @include screen(850px) {
    padding: 40px 40px 50%;
  }

  @include screen(680px) {
    width: 100%;
    padding-bottom: 100%;
  }


  span.article-title {
    font-family: $robotCon;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 0 0 20px 0;
    padding: 40px 0 0 0;

    @include screen(960px) {
      font-size: 24px;
      padding: 0px;
    }


    @include screen(850px) {
      font-size: 24px;
      padding: 0;
    }
  }

  .article-content {
    font-family: $robot;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #000000;
    padding: 15% 40px 40px;

    @include screen(960px) {
      font-size: 12px;
    }

    @include screen(850px) {
      line-height: 1.2;
      padding: 10% 20px 20px;
    }

    @include screen(700px) {
      line-height: 1.2;
      padding: 2% 20px 20px;
    }
  }
}
