.site-content {
	width: 100%;
	height: auto;
	margin: 120px 0 0 0;
	padding: 0;
	float: left;
	text-align: center;

	.product-list-grid {
		width: 960px;
		margin: 50px auto 50px auto;
		text-align: left;
	}

	.content-area {
		width: 100%;
		margin: 0 auto 0 auto;

		.site-main {
			width: 100%;
			margin: 0;
			text-align: left;
		}
	}
}

@media (max-width: 960px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
				padding: 30px 30px 50px 30px;
			}
		}
	}
}

@media (max-width: 480px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;
			padding: 10px;

			.site-main {
				margin: 20px 0 0 0;
			}
		}
	}
}

@media (max-width: 320px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
			}
		}
	}
}
