.site-content {
	width: 100%;
	height: auto;
	margin: 65px 0 0 0;
	padding: 0;
	float: left;
	text-align: center;
	background-color: #000000;

	.content-area {
		width: 100%;
		margin: 0 auto 0 auto;

		.site-main {
			width: 100%;
			margin: 0;
			float: left;
			padding: 100px 0;
			text-align: left;

			article {
				header {
					h1 {
						color: $mainGreen;
						padding: 0 0 0 0px;
					}
				}
			}
		}
	}
}

@media (max-width: 960px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
				padding: 30px 30px 50px 30px;
			}
		}
	}
}

@media (max-width: 480px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;
			padding: 10px;

			.site-main {
				margin: 20px 0 0 0;
				padding: 0;
			}
		}
	}
}

@media (max-width: 320px) {
	.site-content {

		.content-area {
			width: 100%;
			margin: 0 auto 0 auto;

			.site-main {
				margin: 20px 0 0 0;
				padding: 0;
			}
		}
	}
}
