
.menu-icon {
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 200000000;

  svg.menu {
    width: 65px;
    height: 65px;
    overflow: hidden;

    g.icon-bg {
      rect {
        fill: $black;
        @include trans(0.3s);
      }
    }

    line.menu-line {
      stroke: $mainGreen;
      @include trans(0.3s);
    }
  }
}

.menu-icon.open {
  svg.menu {

    g.icon-bg {
      rect {
        fill: $mainGreen;
        border-radius: 0;
      }
    }

    line.menu-line {
      stroke: $black;
    }
  }
}

.main-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.85);
  padding: 100px 50px 20px;
  display: block;
  z-index: 300000;
  @include trans(0.7s);

  h3 {
    font-size: 18px;
    margin: 10px 0 0px 0;
    color: $mainGreen;
  }

  ul.menu-filter {
    li.cat-item, li.filter {
      a {
        color: $white;
        outline: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        padding: 0 0 5px 0;
      }

      a:hover {
        color: $mainGreen;
      }

      ul.children {
        margin: 5px 0 5px 15px;

        li.cat-item {
          a {
            color: $white;
            outline: none;
            font-size: 12px;
            font-weight: 300;
            padding: 0 0 5px 0;
          }
        }
      }
    }
  }
}

.main-menu.hidden {
  right: -100vw;
  display: none;
}

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  margin: 0;
  z-index: 100000;


  .headerlogo {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 2px;
    left: 0px;

    img {
      width: 160px;
      height: auto;
      margin: 6px 0 0 -23px;
    }
  }

  @media screen and (max-width: 767px) {
    .headerlogo {
      top: 8px;
      left: -20px;

      img {
        width: 120px;
      }
    }
  }

  .search-form {
    position: absolute;
    width: 250px;
    height: 65px;
    top: 0;
    right: 165px;
    overflow: hidden;
    z-index: 5;
    @include trans(0.5s);
    display: none;

    form.sinus-search {
      position: relative;
      width: 250px;
      height: 50px;
      top: 8px;
      right: 0px;
      overflow: hidden;

      label.search-label {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 0px;
        opacity: 1;
        background-color: $black;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: auto;
          z-index: 100;
          @include trans(0.5s);
        }

        img {
          opacity: 1;
        }
      }

      input[type=text] {
        background-color: $black;
        border: 2px solid rgba(0, 0, 0, 0);
        padding: 6px 10px 6px 20px;
        font-size: 12px;
        outline: none;
        width: 20px;
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 1;
        color: #FFF;
        @include trans(0.6s);
      }

      input[type=text]:focus {
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid $mainGreen;
        width: 200px;
        padding: 6px 10px 6px 0;
      }

      input[type=submit], .search-submit {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 14px;
        background-color: $mainGreen;
        border: none;
        padding: 10px 15px;
        color: #FFF;
        display: none;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .search-form {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 45px;
      left: 0px;
      overflow: hidden;
      z-index: 5;
      @include trans(0.5s);
      display: none;

      form.sinus-search {
        position: relative;
        width: 100%;
        height: 50px;
        top: 8px;
        right: 0px;
        overflow: hidden;

        label.search-label {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 10px;
          left: 0px;
          opacity: 1;
          background-color: $black;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: auto;
            z-index: 100;
            @include trans(0.5s);
          }

          img {
            opacity: 1;
          }
        }

        input[type=text] {
          background-color: $black;
          border: 2px solid rgba(0, 0, 0, 0);
          padding: 6px 10px 6px 20px;
          font-size: 12px;
          outline: none;
          width: 20px;
          position: absolute;
          top: 10px;
          left: 0px;
          z-index: 1;
          color: #FFF;
          @include trans(0.6s);
        }

        input[type=text]:focus {
          border-top: 2px solid rgba(0, 0, 0, 0);
          border-left: 2px solid rgba(0, 0, 0, 0);
          border-right: 2px solid rgba(0, 0, 0, 0);
          border-bottom: 2px solid $mainGreen;
          width: 100%;
          padding: 6px 10px 6px 50px;
        }

        input[type=submit], .search-submit {
          position: absolute;
          left: 0;
          top: 10px;
          font-size: 14px;
          background-color: $mainGreen;
          border: none;
          padding: 10px 15px;
          color: #FFF;
          display: none;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .cart-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 90px;
    cursor: pointer;
    z-index: 100;

    img {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 32px;
      height: auto;
      opacity: 0.4;
    }

    h5 {
      font-family: $robotCon;
      color: $white;
      font-weight: 700;
      padding: 7px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  // .header {
  //   height: 94px;
  // }
}

.header-link-row {
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  position: fixed;
  top: 65px;
  margin: 0 0 50px 0;
  border-top: 1px solid $blckBorder;
  border-bottom: 1px solid $blckBorder;
  z-index: 90000;
  @include trans(1s);

  @include screen(740px) {
    display: none;
  }

  a,p {
    width: auto;
    display: inline-block;
    font-family: $robot;
    font-size: 12px;
    font-weight: 400;
    padding: 22px 12px;
    letter-spacing: 2px;

    @include screen(1060px) {
      padding: 22px 6px;
    }

    @include screen(890px) {
      padding: 22px 4px;
    }

    @include screen(820px) {
      font-size: 12px;
      letter-spacing: 1px;
      padding: 22px 4px;
    }

  }

  a.green, p.green {
    color: rgba(255, 255, 255, 0.6);
  }

  a.green:hover {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
  }

  a.white, p.white {
    color: rgba(255, 255, 255, 0.7);
  }

  a.white:hover {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
  }
}

.header-link-row.hidden {
  top: -65px;
}
