.border-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: $black;
  display: none;
}

.border-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: $black;
  display: none;
}

.menu-icon {
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 200000000;

  svg.menu {
    width: 65px;
    height: 65px;
    overflow: hidden;

    g.icon-bg {
      rect {
        fill: $black;
        border-radius: 0 0 0 5px;
        @include trans(0.3s);
      }
    }

    line.menu-line {
      stroke: $mainGreen;
      @include trans(0.3s);
    }
  }
}

.menu-icon.open {
  svg.menu {

    g.icon-bg {
      rect {
        fill: $mainGreen;
        border-radius: 0;
      }
    }

    line.menu-line {
      stroke: $black;
    }
  }
}

.main-menu {
  position: absolute;
  width: 280px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: $black;
  border-left: 1px solid $blckBorder;
  padding: 85px 50px 20px;
  z-index: 300000;
  @include trans(0.5s);

  h3 {
    font-size: 18px;
    margin: 10px 0 0px 0;
    color: $mainGreen;
  }

  ul.menu-filter {
    li.cat-item, li.filter {
      a {
        color: $white;
        outline: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        padding: 0 0 5px 0;
      }

      a:hover {
        color: $mainGreen;
      }

      ul.children {
        margin: 5px 0 5px 15px;

        li.cat-item {
          a {
            color: $white;
            outline: none;
            font-size: 12px;
            font-weight: 300;
            padding: 0 0 5px 0;
          }
        }
      }
    }
  }
}

.main-menu.hidden {
  right: -400px;
}

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  margin: 0;
  z-index: 100000;


  .headerlogo {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 2px;
    left: 0px;

    img {
      width: 160px;
      height: auto;
      margin: 6px 0 0 -23px;
    }
  }

  .search-form {
    position: absolute;
    width: 250px;
    height: 65px;
    top: 0;
    right: 165px;
    overflow: hidden;
    z-index: 5;
    @include trans(0.5s);

    form.search {
      position: relative;
      width: 250px;
      height: 50px;
      top: 8px;
      right: 0px;
      overflow: hidden;

      label.search-label {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 0px;
        opacity: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: auto;
          z-index: 100;
          @include trans(0.5s);
        }

        img {
          opacity: 1;
        }
      }

      input[type=text] {
        background-color: $black;
        border: 2px solid rgba(0, 0, 0, 0);
        padding: 6px 10px 6px 20px;
        font-size: 12px;
        outline: none;
        width: 20px;
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 1;
        color: #FFF;
        @include trans(0.6s);
      }

      input[type=text]:focus {
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid $mainGreen;
        width: 200px;
        padding: 6px 10px 6px 0;
      }

      input[type=submit], .search-submit {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 14px;
        background-color: $mainGreen;
        border: none;
        padding: 10px 15px;
        color: #FFF;
        display: none;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .cart-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 90px;
    cursor: pointer;
    z-index: 100;

    img {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 32px;
      height: auto;
      opacity: 0.4;
    }

    h5 {
      font-family: $robotCon;
      color: $white;
      font-weight: 700;
      padding: 7px;
      font-size: 20px;
    }
  }
}

.header-link-row {
  width: 100%;
  height: 30px;
  background-color: $black;
  text-align: center;
  position: fixed;
  top: 65px;
  margin: 0 0 50px 0;
  border-top: 1px solid $blckBorder;
  border-bottom: 1px solid $blckBorder;
  z-index: 90000;
  @include trans(1s);

  a, p {
    display: inline-block;
    font-family: $robot;
    font-size: 12px;
    font-weight: 300;
    color: $mainGreen;
    padding: 7px 15px;
  }

  a:hover {
    color: $white;
  }

}

.header-link-row.hidden {
  top: -65px;
}
