@mixin trans($speed) {
  transition: all $speed cubic-bezier(0.2,0.75,0.8,0.95);
}

@mixin border($radius) {
  border-radius: $radius;
}

@mixin center() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
