@mixin trans($speed) {
  transition: all $speed cubic-bezier(0.3,.56,.21,.99);
}

@mixin screen($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin screenUp($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin border($radius) {
  border-radius: $radius;
}

@mixin center() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
