@mixin trans($speed) {
  transition: all $speed cubic-bezier(.24,.63,.5,.99);
}

@mixin border($radius) {
  border-radius: $radius;
}

@mixin center() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
