.om-os-container {
  width: 100%;
  height: 100%;
  float: left;
  text-align: center;
  padding: 0 0 100px 0;
  background-color: $black;

  .headline {
    width: 100%;
    height: 100%;
    float: left;
    padding: 100px 5% 50px 5%;
    text-align: left;

    h1 {
      color: $mainGreen;
    }
  }

  .page-element {
    width: 90%;
    height: auto;
    margin: 50px auto 100px auto;
    overflow: hidden;
    position: relative;
    padding: 100px 100px 200px 100px;

    .content-bg {
      width: 110%;
      height: 110%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      img {
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        margin: -200px 0 0 0;
      }
    }

    .content-container {
      width: 100%;
      height: 100%;
      background-color: $whiteOp;
      position: relative;
      z-index: 5;
      padding: 50px 100px 50px 150px;
      text-align: left;

      .om-os-text {
        padding: 50px 25px;

        h3 {
          margin: 0 0 20px 0;
          color: $mainBlue;
        }

        h4 {
          color: $mainBlue;
        }

        p.paragraph {
          color: $black;
          font-weight: 400;
          padding: 0px 100px 50px 0;
        }
      }

      .om-os-text.article {
        height: auto;
        padding: 50px 25px 150px;

        p {
          a {
            color: $mainBlue;

            img {
              height: auto;
              width: 30%;
              margin-right: 1%;
              float: left;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .om-os-container {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 0 100px 0;
    background-color: $black;

    .headline {
      width: 100%;
      height: 100%;
      float: left;
      padding: 100px 30px 50px 30px;
      text-align: left;

      h1 {
        color: $mainGreen;
      }
    }

    .page-element {
      width: 90%;
      height: auto;
      margin: 50px auto 100px auto;
      overflow: hidden;
      position: relative;
      padding: 100px 50px 200px 50px;

      .content-bg {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        img {
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          margin: -200px 0 0 0;
        }
      }

      .content-container {
        width: 100%;
        height: 100%;
        background-color: $whiteOp;
        position: relative;
        z-index: 5;
        padding: 50px 50px 50px 50px;
        text-align: left;

        .om-os-text {
          padding: 50px 25px;

          h3 {
            margin: 0 0 20px 0;
            color: $mainBlue;
            font-size: 24px;
          }

          h4 {
            color: $mainBlue;
            font-size: 18px;
          }

          p.paragraph {
            color: $black;
            font-weight: 400;
            padding: 0px 50px 50px 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:620px) {
  .om-os-container {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 0 100px 0;
    background-color: $black;

    .headline {
      width: 100%;
      height: 100%;
      float: left;
      padding: 50px 20px 50px 20px;
      text-align: left;

      h1 {
        color: $mainGreen;
      }
    }

    .page-element {
      width: 90%;
      height: auto;
      margin: 50px auto 100px auto;
      overflow: hidden;
      position: relative;
      padding: 50px 20px 200px 20px;

      .content-bg {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        img {
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          margin: -50px 0 0 0;
        }
      }

      .content-container {
        width: 100%;
        height: 100%;
        background-color: $whiteOp;
        position: relative;
        z-index: 5;
        padding: 50px 20px 50px 20px;
        text-align: left;

        .om-os-text {
          padding: 50px 5px;

          h3 {
            margin: 0 0 20px 0;
            color: $mainBlue;
            font-size: 20px;
          }

          h4 {
            color: $mainBlue;
            font-size: 16px;
          }

          p.paragraph {
            color: $black;
            font-weight: 400;
            padding: 0px 20px 50px 0;
            font-size: 12px;
          }
        }

        .om-os-text.article {
          height: auto;
          padding: 50px 25px 800px;

          p {
            a {
              color: $mainBlue;

              img {
                width: 250px;
                height: auto;
                float: left;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:320px) {
  .om-os-container {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 0 100px 0;
    background-color: $black;

    .headline {
      width: 100%;
      height: 100%;
      float: left;
      padding: 50px 10px 50px 10px;
      text-align: left;

      h1 {
        color: $mainGreen;
      }
    }

    .page-element {
      width: 90%;
      height: auto;
      margin: 50px auto 100px auto;
      overflow: hidden;
      position: relative;
      padding: 50px 10px 200px 10px;

      .content-bg {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        img {
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          margin: -50px 0 0 0;
        }
      }

      .content-container {
        width: 100%;
        height: 100%;
        background-color: $whiteOp;
        position: relative;
        z-index: 5;
        padding: 50px 10px 50px 10px;
        text-align: left;

        .om-os-text {
          padding: 50px 5px;

          h3 {
            margin: 0 0 20px 0;
            color: $mainBlue;
            font-size: 18px;
          }

          h4 {
            color: $mainBlue;
            font-size: 14px;
          }

          p.paragraph {
            color: $black;
            font-weight: 400;
            padding: 0px 10px 50px 0;
            font-size: 12px;
          }
        }

        .om-os-text.article {
          height: auto;
          padding: 50px 25px 600px;

          p {
            a {
              color: $mainBlue;

              img {
                width: 200px;
                height: auto;
                float: left;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}
