.filters-container.headphones {
  width: 858px;
  height: 185px;
  margin: 0px auto 0px auto;
  padding: 24px;
  background-color: #000;

  .filters-expand-btn {
    display: none;
  }

  .filter-button {
    width: 402px;
    float: left;
    background-color: #000;
    padding: 34.5px;
    margin: 11px 0;
    cursor: pointer;
    border: 1px solid $mainGreen;
    @include trans(0.5s);

    h4 {
      color: $mainGreen;
      @include trans(0.5s);
    }
  }

  .filter-button:hover {
    background-color: $mainGreen;
    border-top: 1px solid $mainGreen;
    border-right: 1px solid $mainGreen;
    border-bottom: 1px solid $mainGreen;
    border-left: 1px solid #000;

    h4 {
      color: #000;
    }
  }

  .filters {
    width: 202px;
    height: auto;
    float: left;
    text-align: center;
    border-top: 1px solid $bord;

    input[type=checkbox] {
      display:none;
    }

    input[type=checkbox] + label {
      position: relative;
      width: 201px;
      font-size: 20px;
      background-color: #000000;
      color: rgba(255, 255, 255, 0.5);
      display:inline-block;
      padding: 8px 25px 7px 25px;
      margin: 0 auto 0 auto;
      cursor: pointer;
      text-align: left;
      border-bottom: 1px solid $bord;
      border-right: 1px solid $bord;
      @include trans(0.5s);

      i.fa {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 14px;
        opacity: 0;
        // @include trans(0.5s);
      }

      h4 {
        font-size: 14px;
        font-weight: 700;
        padding: 0px 0 0 15px;
        @include trans(0.5s);
      }
    }

    input[type=checkbox]:checked + label {
      background-color: $mainGreen;
      color: #000000;

      i.fa {
        opacity: 1;
      }

      h4 {
        font-size: 14px;
        font-weight: 700;
        padding: 0px 0 0 25px;
      }
    }
  }

  .filters.left {
    border-left: 1px solid $bord;

    input[type=checkbox] + label {
      border-right: none;
    }
  }

  .filters.center-left {
    border-left: 1px solid $bord;
  }

  .filters.bottom {
    width: 404px;
    float: left;
    margin: 10px auto 0 auto;
    border-left: 1px solid $bord;
    border-right: 1px solid $bord;

    input[type=checkbox] + label {
      position: relative;
      width: 403px;
      font-size: 20px;
      background-color: #000000;
      color: rgba(255, 255, 255, 0.2);
      display:inline-block;
      padding: 8px 25px 7px 25px;
      margin: 0 auto 0 auto;
      cursor: pointer;
      text-align: left;
      border-bottom: 1px solid $bord;
      @include trans(0.5s);

      i.fa {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 14px;
        opacity: 0;
      }

      h4 {
        font-size: 14px;
        font-weight: 700;
        padding: 0px 0 0 15px;
        @include trans(0.5s);
      }
    }

    input[type=checkbox]:checked + label {
      background-color: $mainGreen;
      color: #000000;

      i.fa {
        opacity: 1;
      }

      h4 {
        font-size: 14px;
        font-weight: 700;
        padding: 0px 0 0 25px;
      }
    }
  }
}
