.menu-left {
  position: fixed;
  width: 170px;
  height: 100%;
  top: 65px;
  padding-top: 50px;
  padding-left: 20px;
  left: 0;
  text-align: left;
  z-index: 5;
  background-color: $black;

  h3 {
    font-size: 20px;
    color: $mainGreen;
  }

  span {
    font-size: 12px;
    color: $white;
    margin: 10px 0 10px 0;
  }

  .sort-links {

  }

  .categories, .brands {
    margin: 20px 0;

    p {
      font-size: 14px;
      color: $white;
      padding: 5px 0 5px 0;
      cursor: pointer;
      @include trans(0.3s);

      i.fa {
        font-size: 12px;
        margin: 0 5px 0 0;
        color: $mainBlue;
        @include trans(0.3s);
      }
    }

    p:hover {
      color: $mainBlue;

      i.fa {
        color: $white;
      }
    }
  }
}

.product-list-grid {
  width: calc(100% - 170px);
  height: auto;
  float: left;
  margin-left: 150px;
  text-align: center;

  .page.products {
    width: calc(100% - 170px);
    height: calc(24px * 490px);
    height: auto;
    overflow: visible;
    float: left;
    opacity: 1;
    @include trans(0.5s);

    ul.products {
      width: 100%;
      height: auto;
      float: left;
      position: relative;
      margin: 0 auto 0 auto;
      top: 50px;
      opacity: 1;
      @include trans(0.5s);

      li.product {
        width: 50%;
        min-width: 585px;
        height: 490px;
        margin: 0;
        float: left;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .in-stock-icon {
          position: absolute;
          bottom: 48px;
          right: 0px;
          z-index: 10;
          padding: 2px 10px;
          background-color: $obLight;


          span {
            font-size: 10px;
            color: $white;
          }

          i.fa.fa-minus-square {
            color: $red;
          }

          i.fa.fa-check-square {
            color: $mainGreen;
          }
        }

        img {
          width: auto;
          height: auto;
          max-height: 350px;
          max-width: 350px;
          position: absolute;
          bottom: 50px;
          left: 50px;
          // @include center();
          opacity: 1;
          z-index: 1;
          filter: grayscale(0%);
          @include trans(0.5s);
        }

        .product-price {
          position: absolute;
          width: 100%;
          height: 48px;
          bottom: 0px;
          left: 0;
          padding: 12px 22px 12px 30px;
          background-color: $black;
          color: $white;
          text-align: right;
          z-index: 100;
          border-right: 1px solid $mainBlue;

          span {
            font-size: 18px;
            font-weight: 700;

            del {
              float: left;
              margin: 0 10px 0 30px;
              color: $red;
            }

            ins {
              text-decoration: none;
            }
          }

          span.onsale {
            display: none;
          }

          .add-button {
            position: absolute;
            top: 0;
            left: 8px;
            width: 48px;
            height: 48px;
            cursor: pointer;

            svg {
              position: absolute;
              top: 14px;
              left: 14px;
              width: 20px;
              height: 20px;

              line.svg-line {
                stroke: $lightBlue;
                @include trans(0.3s);
              }
            }

            span.add-info {
              position: absolute;
              top: -17px;
              left: 0px;
              width: 100px;
              font-size: 10px;
              color: $white;
              font-weight: 300;
              text-transform: uppercase;
              text-align: center;
              background-color: $obLight;
              padding: 2px 10px 2px 10px;
              margin: 0 auto 0 auto;
              opacity: 0;
              @include trans(0.3s);
            }
          }

          .add-button:hover {
            svg {
              line.svg-line {
                stroke: #FFFFFF;
              }
            }

            span.add-info {
              opacity: 1;
            }
          }
        }

        .sinus-product-info {
          position: absolute;
          width: 200px;
          height: 490px;
          bottom: 48px;
          right: 0px;
          z-index: 2;
          background-color: $lightGrey;
          @include trans(0.3s);

          .product-title {
            width: 200px;
            height: auto;
            padding: 10px;
            float: right;
            text-align: right;
            margin: 100px 0 0 0;

            h3 {
              font-family: $robot;
              font-weight: 400;
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .short-desc {
            width: 200px;
            height: auto;
            float: right;
            padding: 10px 10px 0;
            text-align: right;
            color: $black;

            p, span, b {
              font-family: $robotCon;
              font-size: 14px;
              font-weight: 400;
              color: $black;
            }

            span.mere {
              float: left;
              font-family: $robotCon;
              font-size: 12px;
              color: $mainGreen;
              @include trans(0.3s);
            }

            span.mere:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  .page.products.hidden {
    width: calc(100% - 150px);
    height: 0px;
    overflow: hidden;
    opacity: 0;

    ul.products {
      height: 0px;
      opacity: 0;
    }
  }
}

// added to cart modal
.atc-modal {
  position: fixed;
  width: 100%;
  height: 110px;
  @include center();
  background-color: $black;
  opacity: 0;
  top: 100px;
  padding: 25px;
  z-index: -1000;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
  text-align: center;

  h3 {
    font-size: 18px;
    color: $mainGreen;
    font-weight: 400;
  }

  span {
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
  }
}
