.menu-left-button {
  display: none;
  width: auto;
  height: auto;
  position: fixed;
  top: 94px;
  left: 0;
  padding: 10px 10px;
  z-index: 2000;
  background-color: $black;
  cursor: pointer;

  span {
    color: $mainGreen;
  }
}

@media screen and (max-width: 767px) {
  .menu-left-button {
    display: block;
  }
}

.menu-left {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 65px;
  padding-top: 30px;
  padding-left: 20px;
  left: 0;
  text-align: left;
  z-index: 5;
  background-color: $black;

  h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
    color: $mainGreen;
  }

  span {
    font-size: 12px;
    color: $white;
    opacity: 0.2;
    margin: 10px 0 10px 0;
  }

  .categories, .brands, .sort-links {
    margin: 20px 0;

    p {
      font-size: 12px;
      color: $white;
      padding: 4px 0 4px 0;
      cursor: pointer;
      @include trans(0.3s);

      i.fa {
        font-size: 12px;
        margin: 0 5px 0 0;
        color: $mainBlue;
        @include trans(0.3s);
      }
    }

    p:hover {
      i.fa {
        color: $white;
      }
    }
  }

  .sort-links {
    input[type=checkbox].instock, input[type=checkbox].outofstock {
      display:none;
    }

    input[type=checkbox].instock + label {
      height: 20px;
      width: 20px;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.2);
      display:inline-block;
      padding: 0 0 0 0px;
      margin: 0 5px 0 0;
      cursor: pointer;
      @include trans(0.5s);
    }

    input[type=checkbox].instock:checked + label {
      height: 20px;
      width: 20px;
      color: $mainGreen;
      display:inline-block;
      padding: 0 0 0 0px;
      margin: 0 5px 0 0;
    }

    input[type=checkbox].outofstock + label {
      height: 20px;
      width: 20px;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.2);
      display:inline-block;
      padding: 0 0 0 0px;
      cursor: pointer;
      margin: 0 5px 0 0;
      @include trans(0.5s);
    }

    input[type=checkbox].outofstock:checked + label {
      height: 20px;
      width: 20px;
      color: $red;
      display:inline-block;
      margin: 0 5px 0 0;
      padding: 0 0 0 0px;
    }
  }

  .close-left {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .menu-left {
    position: fixed;
    width: 160px;
    height: 100%;
    top: 65px;
    padding-top: 30px;
    padding-left: 20px;

    h3 {
      font-size: 14px;
    }

    span {
      font-size: 12px;
      margin: 2px 0 2px 0;
    }

    .categories, .brands, .sort-links {
      margin: 10px 0;

      p {
        font-size: 12px;
        padding: 2px 0 1px 0;

        i.fa {
          font-size: 12px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .menu-left-button {
    display: block;
  }

  .menu-left {
    position: fixed;
    width: 100%;
    height: auto;
    top: 65px;
    left: -768px;
    padding: 30px 0px 0px 0px;
    z-index: 2500;
    background-color: $black;
    @include trans(0.5s);

    h3 {
      font-size: 13px;
      margin: 5px 0 2px 0;
    }

    span {
      font-size: 12px;
      margin: 2px 0 2px 0;
    }

    .categories, .brands, .sort-links {
      padding: 0 0 0 10px;
      width: auto;
      float: left;
      // padding: 0;

      p {
        font-size: 11px;
        padding: 3px 0 3px 0;

        i.fa {
          font-size: 11px;
          margin: 0 3px 0 0;
        }
      }
    }

    .sort-links {
      width: 100%;
    }

    .categories, .brands {
      width: 50%;
    }

    .close-left {
      display: block;
      width: 100%;
      height: auto;
      float: left;
      padding: 10px;
      margin: 25px 0px 0;
      cursor: pointer;
      background-color: $mainGreen;

      i.fa {
        font-size: 30px;
        color: $black;
      }
    }
  }

  .menu-left.showing {
    left: 0px;
    top: 65px;
    z-index: 2500;
    @include trans(0.5s);
  }
}

.product-list-grid {
  width: calc(100% - 200px);
  height: auto;
  min-height: 250px;
  float: left;
  margin-left: 200px;
  margin-bottom: 100px;
  text-align: center;
  background-color: #000000;
  @include trans(0.5s);

  .page.products {
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
    overflow: visible;
    float: left;
    opacity: 1;
    @include trans(0.5s);

    ul.products {
      width: 100%;
      height: auto;
      float: left;
      position: relative;
      margin: 0 auto 0 auto;
      padding: 50px 0;
      top: 50px;
      opacity: 1;
      @include trans(0.5s);

      li.product {
        width: 50%;
        min-width: 585px;
        height: 490px;
        margin: 0;
        float: left;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        background-color: $white;

        .click-area {
          width: 100%;
          height: 442px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1300;
          background-color: transparent;
        }

        .in-stock-icon {
          position: absolute;
          bottom: 96px;
          right: 120px;
          z-index: 10;
          padding: 2px 10px;
          background-color: $obLight;


          span {
            font-size: 10px;
            color: $white;
          }

          i.fa.fa-minus-square {
            color: $red;
          }

          i.fa.fa-check-square {
            color: $mainGreen;
          }
        }

        img {
          width: auto;
          height: auto;
          max-height: 365px;
          max-width: 433px;
          position: absolute;
          bottom: 48px;
          left: 48px;
          opacity: 1;
          z-index: 1;
          @include trans(0.5s);
        }

        .product-price {
          position: absolute;
          width: 100%;
          height: 48px;
          bottom: 0px;
          left: 0;
          padding: 12px 22px 12px 30px;
          background-color: $black;
          color: $white;
          text-align: right;
          z-index: 100;
          border-right: 5px solid $mainBlue;

          span {
            font-size: 18px;
            font-weight: 700;

            del {
              float: left;
              margin: 0 10px 0 30px;
              color: $red;
            }

            ins {
              text-decoration: none;
            }
          }

          span.onsale {
            display: none;
          }

          .add-button {
            position: absolute;
            top: 0;
            left: 8px;
            width: 48px;
            height: 48px;
            cursor: pointer;

            svg {
              position: absolute;
              top: 14px;
              left: 14px;
              width: 20px;
              height: 20px;

              line.svg-line {
                stroke: $lightBlue;
                @include trans(0.3s);
              }
            }

            span.add-info {
              position: absolute;
              top: -17px;
              left: -8px;
              width: 100px;
              font-size: 10px;
              color: $white;
              font-weight: 300;
              text-transform: uppercase;
              text-align: center;
              background-color: $obLight;
              padding: 2px 10px 2px 10px;
              margin: 0 auto 0 auto;
              opacity: 0;
              @include trans(0.3s);
            }
          }

          .add-button:hover {
            svg {
              line.svg-line {
                stroke: #FFFFFF;
              }
            }

            span.add-info {
              opacity: 1;
            }
          }
        }

        .product-title {
          width: 100%;
          height: auto;
          padding: 20px;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1200;
          text-align: left;
          background-color: $white;
          border-top: 1px solid $lightGrey;
          border-right: 5px solid $lightGrey;

          h3 {
            font-family: $robot;
            font-weight: 400;
            font-size: 18px;
            color: $mainBlue;
          }
        }

        .sinus-product-info {
          position: absolute;
          width: 220px;
          height: 383px;
          bottom: 48px;
          right: 0px;
          z-index: 2;
          background-color: $white;
          border-right: 5px solid $lightGrey;
          @include trans(0.3s);


          .short-desc {
            width: 220px;
            height: auto;
            position: absolute;
            bottom: 20px;
            right: 0;
            padding: 23px;
            text-align: left;
            color: $black;

            p, span, b {
              font-family: $robotCon;
              font-size: 12px;
              font-weight: 400;
              color: $black;
            }

            i.fa {
              font-size: 24px;
              color: $black;
              float: right;
              margin: 15px 15px 0 0;
            }
          }
        }
      }
    }
  }

  .page.products.hidden {
    width: calc(100% - 150px);
    height: 0px;
    overflow: hidden;
    opacity: 0;

    ul.products {
      height: 0px;
      opacity: 0;
    }
  }
}

// added to cart modal
.atc-modal {
  position: fixed;
  width: 100%;
  height: 110px;
  @include center();
  background-color: $black;
  opacity: 0;
  top: 100px;
  padding: 25px;
  z-index: -1000;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
  text-align: center;

  h3 {
    font-size: 18px;
    color: $mainGreen;
    font-weight: 400;
  }

  span {
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
  }
}

.product-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.55);
  z-index: 888888888;
  opacity: 1;
  @include trans(0.2s);
}

.product-modal-overlay.hidden {
  opacity: 0;
  z-index: -5;
}

.product-modal {
  position: fixed;
  width: 100;
  height: 100%;
  top: 65px;
  left: 0;
  @include center;
  opacity: 1;
  z-index: 99999;
  background-color: $black;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  @include trans(0.5s);

  .modal-close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 13px;
    cursor: pointer;
    z-index: 100;

    i.fa {
      font-size: 40px;
      color: $mainGreen;
    }
  }

  .modal-scroll-indicator {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 120px;
    z-index: 999999999999;
    @include center();
    animation: modalscrollindicator 3s infinite ease-in-out;

    i.fa {
      font-size: 34px;
      color: $mainBlue;
    }

    i.fa.first {
      position: absolute;
      top: 0;
      left: 0;

    }

    i.fa.second {
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  .modal-scroll-indicator.hidden {
    opacity: 0;
    z-index: 1;

    i.fa {
      opacity: 0;
    }
  }

  @keyframes modalscrollindicator {
    0% {
      opacity: 0;
      top: 100px;
    }

    60% {
      opacity: 1;
      top: 125px;
    }

    100% {
      opacity: 0;
      top: 130px;
    }
  }

  .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;


    @import 'singleproductModal';
  }
}

.product-modal.hidden {
  opacity: 0;
  z-index: -5;
}

@media screen and ( max-width: 1440px ) {
  .product-list-grid {
    width: calc(100% - 160px);
    margin-left: 160px;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 50%;
          min-width: 430px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            position: absolute;
            bottom: 96px;
            right: 120px;
            padding: 2px 10px;

          }

          img {
            max-height: 330px;
            bottom: 48px;
            left: 15px;
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 220px;
            height: 383px;
            bottom: 48px;
            right: 0px;

            .short-desc {
              width: 220px;
              bottom: 20px;
              right: 10px;
              padding: 23px;

              p, span, b {
                font-size: 12px;

              }

              i.fa {
                font-size: 20px;
                }
            }
          }
        }
      }
    }
  }
}


@media screen and ( max-width: 1150px ) {

  .product-list-grid {
    width: calc(100% - 160px);
    margin-left: 160px;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 100%;
          min-width: 430px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            position: absolute;
            bottom: 96px;
            right: 105px;
            z-index: 10;
            padding: 2px 10px;
            background-color: $obLight;

          }

          img {
            max-height: 330px;
            bottom: 48px;
            left: 148px;
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 200px;
            height: 383px;
            bottom: 48px;
            right: 0px;

            .short-desc {
              width: 200px;
              bottom: 20px;
              right: 0;
              padding: 20px;

              p, span, b {
                font-size: 14px;

              }

              i.fa {
                font-size: 24px;
                }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 950px ) {

  .product-list-grid {
    width: calc(100% - 160px);
    margin-left: 160px;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 100%;
          min-width: 430px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            position: absolute;
            bottom: 96px;
            right: 105px;
            z-index: 10;
            padding: 2px 10px;
            background-color: $obLight;
          }

          img {
            max-height: 330px;
            bottom: 48px;
            left: 100px;
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 200px;
            height: 383px;
            bottom: 48px;
            right: 0px;

            .short-desc {
              width: 200px;
              bottom: 20px;
              right: 0;
              padding: 20px;

              p, span, b {
                font-size: 14px;

              }

              i.fa {
                font-size: 24px;
                }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 768px ) {

  .product-list-grid {
    width: calc(100% - 160px);
    margin-left: 160px;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 100%;
          min-width: 430px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            position: absolute;
            bottom: 96px;
            right: 105px;
            z-index: 10;
            padding: 2px 10px;
            background-color: $obLight;
          }

          img {
            max-height: 330px;
            bottom: 48px;
            left: 48px;
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 200px;
            height: 383px;
            bottom: 48px;
            right: 0px;

            .short-desc {
              width: 200px;
              bottom: 20px;
              right: 0;
              padding: 20px;

              p, span, b {
                font-size: 14px;

              }

              i.fa {
                font-size: 24px;
                }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 767px ) {

  .product-list-grid {
    width: 100%;
    margin-left: 0;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 100%;
          min-width: 320px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            position: absolute;
            bottom: 96px;
            right: 105px;
            z-index: 10;
            padding: 2px 10px;
            background-color: $obLight;
          }

          img {
            max-height: 230px;
            bottom: 116px;
            left: 36px;
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 18px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 200px;
            height: 383px;
            bottom: 48px;
            right: 0px;

            .short-desc {
              width: 200px;
              bottom: 20px;
              right: 0;
              padding: 20px;

              p, span, b {
                font-size: 14px;

              }

              i.fa {
                font-size: 24px;
                }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 480px ) {

  .product-list-grid {
    width: 100%;
    margin-left: 0;
    margin-bottom: 100px;

    .page.products {
      padding: 0 0 50px 0;

      ul.products {
        top: 50px;

        li.product {
          width: 100%;
          min-width: 320px;
          height: 490px;

          .click-area {
            height: 442px;
          }

          .in-stock-icon {
            bottom: 48px;
            right: 0px;
            padding: 2px 10px;
          }

          img {
            max-height: 230px;
            bottom: 60px;
            @include center();
          }

          .product-price {
            width: 100%;
            height: 48px;
            padding: 12px 22px 12px 30px;

            span {
              font-size: 18px;
              font-weight: 700;

              del {
                float: left;
                margin: 0 10px 0 30px;
                color: $red;
              }
            }

            .add-button {
              top: 0;
              left: 8px;
              width: 48px;
              height: 48px;

              span.add-info {
                position: absolute;
                top: -17px;
                left: -8px;
                width: 100px;
                font-size: 10px;
                padding: 2px 10px 2px 10px;
                margin: 0 auto 0 auto;
              }
            }
          }

          .product-title {
            padding: 20px;

            h3 {
              font-size: 14px;
              color: $mainBlue;
            }
          }

          .sinus-product-info {
            width: 100%;
            height: 110px;
            top: 80px;
            left: 0px;

            .short-desc {
              width: 100%;
              top: 0px;
              left: 0;
              padding: 5px 20px;

              p, span, b {
                font-size: 12px;

              }

              i.fa {
                font-size: 20px;
                }
            }
          }
        }
      }
    }
  }
}

