.single-image-cntrl, .images-cntrl {
  .product-controls-row.single-image {
    width: 100%;
    height: 60px;
    float: left;
    position: relative;
    margin: 0;
    border-left: 1px solid $bord;
    border-right: 1px solid $bord;
    border-bottom: 1px solid $bord;

    .in-stock-icon {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 100;

      span {
        color: $white;
      }

      i.fa {
        color: $mainGreen;
      }
    }


    .row-product-price {
      position: absolute;
      top: 0px;
      right: 230px;

      h2 {
        color: #FFFFFF;
        text-transform: none;
      }
    }

    .add-button.large {
      position: absolute;
      height: 60px;
      right: -1px;
      top: 0px;

      h3 {
        padding: 17px 50px;
      }
    }
  }
}

.add-button.large {
  width: 214px;
  height: auto;
  background-color: $mainGreen;
  border: 1px solid $mainGreen;
  cursor: pointer;
  text-align: center;
  @include trans(0.4s);

  h3 {
    font-size: 18px;
    font-family: $robotCon;
    color: $white;
    font-weight: 400;
    padding: 10px 50px;
  }
}

.add-button.large:hover {
  background-color: $white;

  h3 {
    color: $mainGreen;
  }
}



span.no-price {
  font-size: 15px;
  text-transform: uppercase;
}

.single-product-container {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 30px 0 0 0;
  background-color: #000000;
  text-align: center;

  .sinus.single-product {
    width: 858px;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 120px 0 120px;
    position: relative;
    text-align: left;

    h1.single-product-title {
      font-weight: 300;
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: 0px;
      color: $mainGreen;
      letter-spacing: 2px;
    }

    .images-cntrl {
      width: 100%;
      height: 480px;
      float: left;
      position: relative;


      .add-button.large {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .product-price {
        position: absolute;
        bottom: 45px;
        right: 0;

        h2 {
          color: $white;
          text-transform: none;
          font-weight: 700;
        }
      }

      .main-image {
        width: 75%;
        height: 480px;
        position: relative;
        overflow: hidden;
        float: left;
        z-index: 1;
        background-color: $white;
        cursor: pointer;

        img {
          position: absolute;
          width: auto;
          height: auto;
          max-height: 100%;
          max-width: 100%;
          margin: auto;
          top: 0; left: 0; bottom: 0; right: 0;
        }
      }

      .product-images {
        width: 25%;
        height: 380px;
        position: relative;
        float: right;
        margin: 0;
        z-index: 1;

        .product-image {
          position: relative;
          height: 100px;
          width: 100px;
          margin: 0 0 5px 5px;
          float: right;
          border: 1px solid $white;
          background-color: $white;
          overflow: hidden;
          cursor: pointer;

          img {
            position: absolute;
            width: auto;
            height: auto;
            max-height: 100px;
            max-width: 100px;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
          }
        }
      }
    }

    .single-image-cntrl {
      width: 100%;
      height: 480px;
      float: left;
      position: relative;
      text-align: center;
      margin: 0 0 70px 0;

      .main-image.single {
        width: 100%;
        height: 480px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        z-index: 1;
        background-color: $white;

        img {
          position: absolute;
          @include center();
          width: auto;
          height: auto;
          max-height: 90%;
          max-width: 90%;
          margin: auto;
          top: 0; left: 0; bottom: 0; right: 0;
        }
      }
    }

    .youtube-frame {
      width: 90%;
      margin-left: 5%;
      float: left;
      margin: 0;
    }

    .product-content {
      width: 100%;
      height: auto;
      float: left;
      margin: 50px 0 0px 0;
      position: relative;
      z-index: 100;
      overflow: hidden;
      padding: 70px 0 0 0;

      .text-content {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        padding: 0px 0;
        margin: 0px 0 0 0px;

        .product-main {
          float: left;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 50px 30px 50px 0px;
          opacity: 1;
          text-align: left;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 300;
          padding: 0 0 20px 0;
          color: #F7F7F7;
          @include trans(0.5s);

          p {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 300;
            padding: 0 0 20px 0;
            color: #F7F7F7;
          }
        }

        .product-specs {
          float: left;
          width: 100%;
          height: auto;
          margin: 0px 50px 0px 0;
          padding: 50px 30px 50px 10px;
          text-align: left;
          opacity: 1;

          .product-text-right {

            h3.specs {
              font-weight: 700;
              font-size: 32px;
              margin-bottom: 20px;
              color: #F7F7F7;
            }

            p.specs {
              font-size: 14px;
              line-height: 1.7;
              font-weight: 700;
              color: #F7F7F7;
            }
          }
        }
      }

      .product-controls {
        width: 100%;
        height: auto;
        float: right;
        margin: 0px 0 50px 0;
        padding: 0;

        .product-price {
          h2 {
            line-height: 1;
            margin: 0 0 20px 0;
          }
        }
      }
    }

    .related-container {
      width: calc(100% - 100px);
      height: auto;
      float: left;
      position: relative;
      margin: 100px 50px 100px 50px;

      .related-products, .product-variants {
        width: 100%;
        height: 250px;
        float: left;
        margin: 20px 0 20px 0;
        text-align: center;

        h4 {
          color: $mainBlue;
          margin: 0 0 20px 0;
        }

        li {
          width: 200px;
          height: 200px;
          display: inline-block;
          margin: 0 auto 0 auto;
          overflow: hidden;
          position: relative;
          text-align: left;
          background-color: $lightGrey;

          a {
            img {
              width: auto;
              height: auto;
              max-width: 250px;
              max-height: 200px;
              position: relative;
              z-index: 1;

            }

            .title-container {
              position: absolute;
              width: 200px;
              height: auto;
              min-height: 50px;
              bottom: 0;
              left: 0;
              background-color: $obLight;
              padding: 5px;
              z-index: 5;

              span.product-title {
                font-size: 12px;
                color: $white;
              }
            }
          }

          span.amount {
            position: absolute;
            top: 10px;
            right: 0px;
            font-size: 14px;
            background-color: $obLight;
            padding: 2px 5px;
            color: $mainGreen;
            z-index: 5;
          }
        }
      }
    }
  }
}

.large-image-modal {
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0,0,0,0.9);
  opacity: 1;
  overflow: hidden;
  z-index: 50000;
  @include trans(0.5s);

  img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
  }
}

.large-image-modal.hidden {
  width: 100%;
  height: 0px;
  top: -100px;
  opacity: 0;
}

span.tooltip {
  position: fixed;
  top: 125px;
  right: 0px;
  background-color: $mainGreen;
  color: $white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 30px;
  width: 310px;
  opacity: 0.8;
  z-index: 2;
}
