.single-product-container {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 30px 0 0 0;
  background-color: $black;

  .sinus.single-product {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    background-color: $black;

    .images-cntrl {
      width: 100%;
      height: auto;
      // min-height: 400px;
      float: left;
      background-color: $white;

      padding: 50px 50px 0;

      .main-image {
        width: 100%;
        height: 100%;
        // min-height: 400px;
        max-height: 800px;
        text-align: center;
        position: relative;
        float: left;
        padding: 50px 0 50px 0;
        z-index: 1;
        background-color: $white;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 800px;
          margin: 0 auto 0 auto;
        }
      }

      .product-images {
        width: 100%;
        height: 200px;
        text-align: center;
        position: relative;
        float: left;
        margin: 0;
        z-index: 1;
        background-color: $white;

        .product-image {
          height: 150px;
          width: auto;
          display: inline-block;
          margin: 0 auto 0px auto;
          border: 1px solid $lightGrey;
          background-color: $white;
          text-align: center;
          cursor: pointer;

          img {
            width: auto;
            height: 100%;
            margin: 0 auto 0 auto;
          }
        }
      }
    }

    .youtube-frame {
      width: 90%;
      margin-left: 5%;
      float: left;
      margin: 0;
    }

    .product-content {
      width: 100%;
      height: auto;
      float: left;
      margin: 0px 0 0px 0;
      position: relative;
      z-index: 100;
      overflow: hidden;
      padding: 0px 50px 100px;
      @include trans(0.3s);

      .content-bg {
        width: calc(100% - 50px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px 50px 0;
        overflow: hidden;

        img {
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          margin-top: -75px;
        }
      }

      .p-content {
        background-color: $whiteOp;
        width: calc(100% - 100px);
        height: auto;
        float: left;
        position: relative;
        padding: 0px 0;
        margin: 50px 0 0 50px;

        .product-left {
          float: left;
          width: calc(60% - 50px);
          height: auto;
          margin: 0px 0 0px 45px;
          padding: 50px 30px 50px 50px;
          opacity: 1;
          text-align: left;
          @include trans(0.5s);

          .share-product {
            width: 100%;
            padding: 20px 20px 20px 0;
            margin: 20px 0 0;
            word-break: break-word;

            p {
              font-size: 12px;
              color: $black;
              line-height: 1;
              padding: 0 0 5px;
            }

            a {
              font-size: 12px;
              color: $black;
            }
          }

          h1 {
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 20px;
          }

          p {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            padding: 0 0 20px 0;
          }
        }

        .product-right {
          float: right;
          width: calc(40% - 50px);
          height: auto;
          margin: 0px 50px 0px 0;
          padding: 50px 50px 50px 20px;
          text-align: right;
          opacity: 1;
          @include trans(0.5s);

          .product-text-right {
            opacity: 1;
            @include trans(0.5s);

            h3.specs {
              font-weight: 700;
              font-size: 32px;
              margin-bottom: 20px;
            }

            p.specs {
              font-size: 15px;
              line-height: 1.7;
              font-weight: 700;
            }
          }
        }
      }

      .product-left, .product-right {
        position: relative;
        z-index: 100;
      }

      .product-controls {
        width: 100%;
        height: auto;
        float: right;
        margin: 0px 0 50px 0;
        pading: 0;

        .product-price {
          h2 {
            line-height: 1;
            margin: 0 0 20px 0;
          }
        }

        .add-button.large {
          width: auto;
          height: auto;
          background-color: $mainGreen;
          float: right;
          cursor: pointer;

          h3 {
            font-size: 24px;
            font-family: $robotCon;
            color: $white;
            font-weight: 700;
            padding: 10px 25px;
          }
        }

        span.no-price {
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }

    .related-container {
      width: calc(100% - 100px);
      height: auto;
      float: left;
      position: relative;
      margin: 100px 50px 100px 50px;

      .related-products, .product-variants {
        width: 100%;
        height: 250px;
        float: left;
        margin: 20px 0 20px 0;
        text-align: center;

        h4 {
          color: $mainBlue;
          margin: 0 0 20px 0;
        }

        li {
          width: 200px;
          height: 200px;
          display: inline-block;
          margin: 0 auto 0 auto;
          overflow: hidden;
          position: relative;
          text-align: left;
          background-color: $lightGrey;

          a {
            img {
              width: auto;
              height: auto;
              max-width: 250px;
              max-height: 200px;
              position: relative;
              z-index: 1;

            }

            .title-container {
              position: absolute;
              width: 200px;
              height: auto;
              min-height: 50px;
              bottom: 0;
              left: 0;
              background-color: $obLight;
              padding: 5px;
              z-index: 5;

              span.product-title {
                font-size: 12px;
                color: $white;
              }
            }
          }

          span.amount {
            position: absolute;
            top: 10px;
            right: 0px;
            font-size: 14px;
            background-color: $obLight;
            padding: 2px 5px;
            color: $mainGreen;
            z-index: 5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .single-product-container {
    padding: 20px 0 50px 0;

    .sinus.single-product {

      .images-cntrl {
        padding: 20px 20px 0;

        .main-image {
          padding: 20px 0 20px 0;

          img {
            max-height: 600px;
          }
        }

        .product-images {
          height: 200px;

          .product-image {
            height: 150px;
          }
        }
      }

      .youtube-frame {
        width: 100%;
        margin-left: 0;
      }

      .product-content {
        padding: 0px 50px 100px;

        .content-bg {
          padding: 0px 50px 0;

          img {
            margin-top: -75px;
          }
        }

        .p-content {
          width: calc(100% - 100px);
          margin: 50px 0 0 50px;

          .product-left {
            width: calc(60% - 50px);
            margin: 0px 0 0px 10px;
            padding: 50px 10px 50px 30px;

            .share-product {
              padding: 20px 20px 20px 0;
              margin: 20px 0 0;

              p {
                font-size: 12px;
                line-height: 1;
                padding: 0 0 5px;
              }

              a {
                font-size: 12px;
                color: $black;
              }
            }

            h1 {
              font-size: 32px;
              margin-bottom: 20px;
            }

            p {
              font-size: 15px;
              line-height: 1.5;
              padding: 0 0 20px 0;
            }
          }

          .product-right {
            width: calc(40% - 50px);
            margin: 0px 10px 0px 0;
            padding: 50px 30px 50px 10px;

            .product-text-right {
              h3.specs {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 10px;
              }

              p.specs {
                font-size: 13px;
                line-height: 1.5;
                font-weight: 700;
              }
            }
          }
        }

        .product-left, .product-right {
          position: relative;
          z-index: 100;
        }

        .product-controls {
          margin: 0px 0 50px 0;

          .product-price {
            h2 {
              line-height: 1;
              margin: 0 0 20px 0;
            }
          }

          .add-button.large {

            h3 {
              font-size: 24px;
              padding: 10px 25px;
            }
          }

          span.no-price {
            font-size: 15px;
          }
        }
      }

      .related-container {
        width: calc(100% - 100px);
        margin: 100px 50px 100px 50px;

        .related-products, .product-variants {
          width: 100%;
          height: auto;
          margin: 20px 0 20px 0;

          h4 {
            color: $mainBlue;
            margin: 0 0 20px 0;
          }

          li {
            width: 200px;
            height: 200px;

            a {
              img {
                max-width: 250px;
                max-height: 200px;
              }

              .title-container {
                width: 200px;
                min-height: 50px;
                padding: 5px;

                span.product-title {
                  font-size: 12px;
                }
              }
            }

            span.amount {
              top: 10px;
              right: 0px;
              font-size: 14px;
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .single-product-container {
    padding: 20px 0 50px 0;

    .sinus.single-product {

      .images-cntrl {
        padding: 20px 20px 0;

        .main-image {
          padding: 20px 0 20px 0;

          img {
            max-height: 600px;
          }
        }

        .product-images {
          height: 200px;

          .product-image {
            height: 150px;
          }
        }
      }

      .youtube-frame {
        width: 100%;
        margin-left: 0;
      }

      .product-content {
        padding: 0px 50px 100px;

        .content-bg {
          padding: 0px 50px 0;

          img {
            margin-top: -75px;
          }
        }

        .p-content {
          width: calc(100% - 60px);
          margin: 50px 0 0 50px;

          .product-left {
            width: calc(50% - 30px);
            margin: 0px 0 0px 10px;
            padding: 50px 10px 50px 30px;

            .share-product {
              padding: 20px 20px 20px 0;
              margin: 20px 0 0;

              p {
                font-size: 12px;
                line-height: 1;
                padding: 0 0 5px;
              }

              a {
                font-size: 12px;
                color: $black;
              }
            }

            h1 {
              font-size: 24px;
              margin-bottom: 20px;
            }

            p {
              font-size: 12px;
              line-height: 1.5;
              padding: 0 0 20px 0;
            }
          }

          .product-right {
            width: calc(50% - 30px);
            margin: 0px 10px 0px 0;
            padding: 50px 30px 50px 10px;

            .product-text-right {
              h3.specs {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 10px;
              }

              p.specs {
                font-size: 13px;
                line-height: 1.5;
                font-weight: 700;
              }
            }
          }
        }

        .product-left, .product-right {
          position: relative;
          z-index: 100;
        }

        .product-controls {
          margin: 0px 0 50px 0;

          .product-price {
            h2 {
              line-height: 1;
              margin: 0 0 20px 0;
            }
          }

          .add-button.large {

            h3 {
              font-size: 24px;
              padding: 10px 25px;
            }
          }

          span.no-price {
            font-size: 15px;
          }
        }
      }

      .related-container {
        width: calc(100% - 100px);
        margin: 100px 50px 100px 50px;

        .related-products, .product-variants {
          width: 100%;
          height: auto;
          margin: 20px 0 20px 0;

          h4 {
            color: $mainBlue;
            margin: 0 0 20px 0;
          }

          li {
            width: 200px;
            height: 200px;

            a {
              img {
                max-width: 250px;
                max-height: 200px;
              }

              .title-container {
                width: 200px;
                min-height: 50px;
                padding: 5px;

                span.product-title {
                  font-size: 12px;
                }
              }
            }

            span.amount {
              top: 10px;
              right: 0px;
              font-size: 14px;
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .single-product-container {
    padding: 20px 0 50px 0;

    .sinus.single-product {

      .images-cntrl {
        padding: 20px 20px 0;

        .main-image {
          padding: 20px 0 20px 0;

          img {
            max-height: 600px;
          }
        }

        .product-images {
          height: 200px;

          .product-image {
            height: 150px;
          }
        }
      }

      .youtube-frame {
        width: 100%;
        margin-left: 0;
      }

      .product-content {
        padding: 0px 20px 100px;

        .content-bg {
          width: calc(100% - 20px);
          padding: 0px 20px 0;

          img {
            margin-top: -55px;
          }
        }

        .p-content {
          width: calc(100% - 130px);
          margin: 50px 0 0 50px;

          .product-left {
            width: calc(100% - 20px);
            margin: 0px 0 0px 10px;
            padding: 50px 10px 20px 30px;

            .share-product {
              padding: 0px 20px 20px 0;
              margin: 10px 0 0;

              p {
                font-size: 12px;
                line-height: 1;
                padding: 0 0 5px;
              }

              a {
                font-size: 10px;
              }
            }

            h1 {
              font-size: 24px;
              margin-bottom: 20px;
            }

            p {
              font-size: 12px;
              line-height: 1.5;
              padding: 0 0 20px 0;
            }
          }

          .product-right {
            width: calc(100% - 20px);
            margin: 0px 10px 0px 0;
            padding: 0px 10px 50px 30px;
            float: left;
            text-align: left;

            .product-text-right {
              h3.specs {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;
              }

              p.specs {
                font-size: 12px;
                line-height: 1.5;
                font-weight: 700;
              }
            }
          }
        }

        .product-left, .product-right {
          position: relative;
          z-index: 100;
        }

        .product-controls {
          margin: 0px 0 50px 0;

          .product-price {
            h2 {
              line-height: 1;
              margin: 0 0 10px 0;
            }
          }

          .add-button.large {
            float: left;

            h3 {
              font-size: 24px;
              padding: 10px 25px;
            }
          }

          span.no-price {
            font-size: 15px;
          }
        }
      }

      .related-container {
        width: calc(100% - 100px);
        margin: 20px 50px 100px 50px;

        .related-products, .product-variants {
          width: 100%;
          height: auto;
          margin: 20px 0 20px 0;

          h4 {
            color: $mainBlue;
            margin: 0 0 20px 0;
          }

          li {
            width: 200px;
            height: 200px;

            a {
              img {
                max-width: 250px;
                max-height: 200px;
              }

              .title-container {
                width: 200px;
                min-height: 50px;
                padding: 5px;

                span.product-title {
                  font-size: 12px;
                }
              }
            }

            span.amount {
              top: 10px;
              right: 0px;
              font-size: 14px;
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .single-product-container {
    padding: 20px 0 50px 0;

    .sinus.single-product {

      .images-cntrl {
        padding: 20px 20px 0;

        .main-image {
          padding: 20px 0 20px 0;

          img {
            max-height: 600px;
          }
        }

        .product-images {
          height: 200px;

          .product-image {
            height: 150px;
          }
        }
      }

      .youtube-frame {
        width: 100%;
        margin-left: 0;
      }

      .product-content {
        padding: 0px 20px 100px;

        .content-bg {
          width: calc(100% - 20px);
          padding: 0px 20px 0;

          img {
            margin-top: -55px;
          }
        }

        .p-content {
          width: calc(100% - 80px);
          margin: 50px 0 0 40px;

          .product-left {
            width: calc(100% - 20px);
            margin: 0px 0 0px 10px;
            padding: 50px 10px 20px 30px;

            .share-product {
              padding: 0px 20px 20px 0;
              margin: 10px 0 0;

              p {
                font-size: 12px;
                line-height: 1;
                padding: 0 0 5px;
              }

              a {
                font-size: 10px;
              }
            }

            h1 {
              font-size: 24px;
              margin-bottom: 20px;
            }

            p {
              font-size: 12px;
              line-height: 1.5;
              padding: 0 0 20px 0;
            }
          }

          .product-right {
            width: calc(100% - 20px);
            margin: 0px 10px 0px 0;
            padding: 0px 10px 50px 30px;
            float: left;
            text-align: left;

            .product-text-right {
              h3.specs {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;
              }

              p.specs {
                font-size: 12px;
                line-height: 1.5;
                font-weight: 700;
              }
            }
          }
        }

        .product-left, .product-right {
          position: relative;
          z-index: 100;
        }

        .product-controls {
          margin: 0px 0 50px 0;

          .product-price {
            h2 {
              line-height: 1;
              margin: 0 0 10px 0;
            }
          }

          .add-button.large {
            float: left;

            h3 {
              font-size: 24px;
              padding: 10px 25px;
            }
          }

          span.no-price {
            font-size: 15px;
          }
        }
      }

      .related-container {
        width: calc(100% - 100px);
        margin: 30px 50px 100px 50px;

        .related-products, .product-variants {
          width: 100%;
          height: auto;
          margin: 20px 0 20px 0;

          h4 {
            color: $mainBlue;
            margin: 0 0 20px 0;
          }

          li {
            width: 200px;
            height: 200px;

            a {
              img {
                max-width: 250px;
                max-height: 200px;
              }

              .title-container {
                width: 200px;
                min-height: 50px;
                padding: 5px;

                span.product-title {
                  font-size: 12px;
                }
              }
            }

            span.amount {
              top: 10px;
              right: 0px;
              font-size: 14px;
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 375px) {
  .single-product-container {
    padding: 20px 0 20px 0;

    .sinus.single-product {

      .images-cntrl {
        padding: 20px 20px 0;

        .main-image {
          padding: 20px 0 20px 0;

          img {
            max-height: 600px;
          }
        }

        .product-images {
          height: 200px;

          .product-image {
            height: 150px;
          }
        }
      }

      .youtube-frame {
        width: 100%;
        margin-left: 0;
      }

      .product-content {
        padding: 0px 20px 100px;

        .content-bg {
          width: calc(100% - 20px);
          padding: 0px 20px 0;

          img {
            margin-top: -55px;
          }
        }

        .p-content {
          width: calc(100% - 40px);
          margin: 50px 0 0 20px;

          .product-left {
            width: calc(100% - 20px);
            margin: 0px 0 0px 10px;
            padding: 50px 10px 20px 10px;

            .share-product {
              width: calc(100% - 20px);
              padding: 0px 20px 20px 0;
              margin: 10px 0 0;
              word-break: break-word;

              p {
                font-size: 12px;
                line-height: 1;
                padding: 0 0 5px;
              }

              a {
                font-size: 10px;
              }
            }

            h1 {
              font-size: 24px;
              margin-bottom: 20px;
            }

            p {
              font-size: 12px;
              line-height: 1.5;
              padding: 0 0 20px 0;
            }
          }

          .product-right {
            width: calc(100% - 20px);
            margin: 0px 10px 0px 0;
            padding: 0px 10px 50px 10px;
            float: left;
            text-align: left;

            .product-text-right {
              h3.specs {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;
              }

              p.specs {
                font-size: 12px;
                line-height: 1.5;
                font-weight: 700;
              }
            }
          }
        }

        .product-left, .product-right {
          position: relative;
          z-index: 100;
        }

        .product-controls {
          margin: 0px 0 50px 0;

          .product-price {
            h2 {
              line-height: 1;
              margin: 0 0 10px 0;
            }
          }

          .add-button.large {
            float: left;

            h3 {
              font-size: 24px;
              padding: 10px 25px;
            }
          }

          span.no-price {
            font-size: 15px;
          }
        }
      }

      .related-container {
        width: calc(100% - 100px);
        margin: 50px 50px 100px 50px;

        .related-products, .product-variants {
          width: 100%;
          height: auto;
          margin: 20px 0 20px 0;

          h4 {
            color: $mainBlue;
            margin: 0 0 20px 0;
          }

          li {
            width: 200px;
            height: 200px;

            a {
              img {
                max-width: 250px;
                max-height: 200px;
              }

              .title-container {
                width: 200px;
                min-height: 50px;
                padding: 5px;

                span.product-title {
                  font-size: 12px;
                }
              }
            }

            span.amount {
              top: 10px;
              right: 0px;
              font-size: 14px;
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}
