.sinus.single-product {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  min-height: 800px;

  .single-product.icons {
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1000;

    .text-icon, .add-button.single-product {
      width: 30px;
      height: 30px;
      border: 1px solid $lightGrey;
      cursor: pointer;
      background-color: $white;
      border-radius: 5px;
      position: absolute;
      @include trans(0.5s);

      svg {
        width: 16px;
        height: 16px;
        position: absolute;
      }

      svg.texticon {
        top: 6px;
        left: 6px;

        .a {
          fill:none;
          stroke: $grey;
          stroke-miterlimit:10;
          stroke-width:8px;
        }
      }

      svg.addicon {
        top: 6px;
        left: 6px;
      }
    }

    .text-icon {
      top: 0;
      left: 0;
    }

    .text-icon.off {
      background-color: $black;

      svg.texticon {

        .a {
          stroke: $lightGrey;
        }
      }
    }

    .add-button.single-product {
      top: 0;
      right: 0;
    }
  }

  .main-image {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    float: left;
    top: 80px;
    left: 0;
    margin: 0 0 -3px 0;
    z-index: 1;

    img {
      width: auto;
      height: auto;
      max-height: 100%;
      margin: 0 auto 0 auto;
    }
  }

  .product-images {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin: 80px 0 0 0;

    .product-image {
      width: 50%;
      height: auto;
      display: inline-block;
      margin: 0 auto 0 auto;
      border: 1px solid $lightGrey;
      text-align: center;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0 auto 0 auto;
      }
    }

    .youtube-frame {
      width: 100%;
      float: left;
    }
  }

  .product-content {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 100;
    @include trans(0.3s);

    .product-left {
      float: left;
      width: 33%;
      height: auto;
      margin: 0;
      padding: 20px 30px 20px 50px;
      background-color: rgba(255, 255, 255, 0.7);
      opacity: 1;
      @include trans(0.5s);

      h1 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        padding: 0 0 20px 0;
      }
    }

    .product-right {
      float: right;
      width: auto;
      height: auto;
      max-width: 460px;
      margin: 0;
      padding: 20px 50px 20px 30px;
      background-color: rgba(255, 255, 255, 0.7);
      text-align: right;
      opacity: 1;
      @include trans(0.5s);

      .product-text-right {
        opacity: 1;
        @include trans(0.5s);

        h3.specs {
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 20px;
        }

        p.specs {
          font-size: 15px;
          line-height: 1.7;
          font-weight: 700;
        }
      }

      .product-text-right.off {
        opacity: 0;
      }
    }

    .product-left, .product-right {
      position: relative;
      z-index: 100;
    }

    .product-left.off, .product-right.off {
      opacity: 0;
    }

    .product-controls {
      width: 200px;
      height: auto;
      float: right;
      margin: 0px 0 50px 0;
      pading: 0;

      .product-price {
        h2 {
          line-height: 1;
          margin: 0 0 20px 0;
        }
      }

      .add-button.large {
        width: auto;
        height: auto;
        background-color: $mainGreen;
        float: right;
        cursor: pointer;

        h3 {
          font-size: 24px;
          font-family: $robotCon;
          color: $white;
          font-weight: 700;
          padding: 10px 25px;
        }
      }

      span.no-price {
        font-size: 15px;
        text-transform: uppercase;
      }
    }

  }
}
