.site-main {

  .social-header {
    width: 960px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 200px 150px;

    .content-bg {
      width: 120%;
      height: 120%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      img {
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        margin: -200px 0 0 0;
      }
    }

    .content-container {
      width: 100%;
      height: 100%;
      background-color: $whiteOp;
      position: relative;
      z-index: 5;
      padding: 50px;
      text-align: left;

      h3 {
        margin: 0 0 20px 0;
      }

      p {
        font-size: 18px;
        font-weight: 400;
      }

      a {
        font-size: 18px;
        font-weight: 400;
        color: $mainBlue;
        padding: 0 0px;

        i.fa {
          font-size: 26px;
        }
      }

      a:hover {
        color: $black;
        padding: 0 15px;
      }
    }
  }


  .info-container {
    width: 960px;
    margin: 50px 0 0 0;
    padding: 20px;
    height: 140px;
    top: 100px;
    padding: 20px;
    @include center();
    // border-radius: 10px 10px 0 0;
    background-color: $black;
    border-bottom: 1px solid $mainBlue;

    .info-content {
      width: 100%;
      height: 100%;
      color: $white;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        float: left;
        margin: 0 20px 0 0;
      }

      h4 {
        font-size: 30px;
        color: $mainGreen;
        padding: 20px 0 0 0;
      }

      p.name {
        text-transform: uppercase;
        color: $mainGreen;
      }
    }

  }

  .feed-container {
    position: relative;
    width: 960px;
    height: auto;
    min-height: 300px;
    top: 0px;
    padding: 0px 0 50px 0;
    // border-radius: 0 0 10px 10px;
    @include center();
    background-color: $black;

    .feed-content {
      position: relative;
      height: auto;

      .image-nodes {

        .image-container {
          width: 320px;
          height: 360px;
          float: left;
          margin: 0;
          position: relative;

          a {
            font-size: 0;
            line-height: 0;
          }

          img {
            width: 320px;
            height: auto;
          }

          .like-bar {
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0;
            padding: 10px 10px 10px 0px;
            background-color: $black;

             img {
              float: left;
              width: 20px;
              height: 20px;
              margin: 0px 10px 0 10px;
             }

             p {
              float: left;
              color: $white;
              font-size: 18px;
              margin: -2px 0 0 0;
              font-weight: 700;
             }
          }
        }
      }
    }
  }


}
