// Spinner
.spinner {
	position: fixed;
	width: 50px;
	top:300px;
	@include center();
	z-index: 999999999;
	opacity: 1;
	@include trans(0.3s);

		.circle {
			position: absolute;
			top: 0;
			left: 0;
			background-color: transparent;
		  border: 5px solid rgba(0, 0, 0, 0);
		  border-right: 5px solid $mainGreen;
		  border-left: 5px solid $mainGreen;
		  border-radius: 50%;
		  width: 50px;
		  height: 50px;
		  animation: mainSpin 2s infinite ease-in-out;
		}

		.circle1 {
			position: absolute;
			top: 12px;
			left: 12px;
			background-color: transparent;
		  border: 2px solid $mainBlue;
		  opacity: 1;
		  border-right: 2px solid rgba(0, 0, 0, 0);
		  border-left: 2px solid rgba(0, 0, 0, 0);
		  border-radius: 50%;
		  width: 26px;
		  height: 26px;
		  animation: mainSpinInner 2s infinite ease-in-out;
		}
}

.spinner.hidden {
	opacity: 0;
	z-index: 0;
}

@keyframes mainSpin {
	0% {
		transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


@keyframes mainSpinInner {
	0% {
		transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-359deg);
  }
}

@media screen and (max-width: 767px) {
  .spinner {
    top:90px;
  }
}

// Scroll Indicator
.scroll-indicator {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999999999999;
  background-color: $mainGreen;
  border-radius: 50%;
  // @include center();
  animation: scrollindicator 2s infinite ease-in-out;

  i.fa {
    font-size: 16px;
    color: $black;
  }

  i.fa.first {
    position: absolute;
    top: 7px;
    @include center();

  }

  i.fa.second {
    position: absolute;
    top: 11px;
    @include center();
  }
}

.scroll-indicator.hidden {
  opacity: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0);

  i.fa {
    opacity: 0;
  }

}

@keyframes scrollindicator {
  0% {
    opacity: 0;
    bottom: 60px;
  }

  60% {
    opacity: 1;
    bottom: 45px;
  }

  100% {
    opacity: 0;
    bottom: 40px;
  }
}

