html, body {
	background-color: $white;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;
}

.bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

.menu-icon, .main-menu, .site-content .header, .site-content.head-row-2, .site-content.cart-contents, footer {
	display: none;
}

.logo {
	width: 1000px;
	height: 300px;
	position: absolute;
	top: 100px;
	z-index: 10;
	@include center();

	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		@include center();
	}

	h4 {
		color: $mainBlue;
		position: absolute;
		right: 32px;
		bottom: 60px;
		font-size: 30px;
	}
}

.comingsoon {
	position: absolute;
	width: 145px;
	top: 460px;
	z-index: 10;
	@include center();

	h4 {
		color: #FFF;
		font-size: 22px;
		font-weight: 900;
	}
}

@media screen and (max-width: 1080px) {
	.logo {
		width: 700px;
		height: 237px;
		top: 100px;

		h4 {
			right: 20px;
			bottom: 60px;
			font-size: 30px;
		}
	}

	.comingsoon {
		width: 145px;
		top: 360px;

		h4 {
			font-size: 22px;
			font-weight: 900;
		}
	}
}

@media screen and (max-width: 700px) {
	.logo {
		width: 500px;
		height: 190px;
		top: 100px;

		h4 {
			right: 15px;
			bottom: 60px;
			font-size: 22px;
		}
	}

	.comingsoon {
		width: 145px;
		top: 360px;

		h4 {
			font-size: 22px;
			font-weight: 900;
		}
	}
}

@media screen and (max-width: 500px) {
	.logo {
		width: 300px;
		height: 130px;
		top: 80px;

		h4 {
			right: 8px;
			bottom: 50px;
			font-size: 16px;
		}
	}

	.comingsoon {
		width: 105px;
		top: 205px;

		h4 {
			font-size: 16px;
			font-weight: 900;
		}
	}
}


@media screen and (max-width: 320px) {
	.logo {
		width: 260px;
		height: 100px;
		top: 80px;

		h4 {
			right: 7px;
			bottom: 26px;
			font-size: 16px;
		}
	}

	.comingsoon {
		width: 105px;
		top: 200px;

		h4 {
			font-size: 16px;
			font-weight: 900;
		}
	}
}

