@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900|Roboto+Condensed:300,400,700);
// @import url(https://fonts.googleapis.com/css?family=);
$robot: 'Roboto', sans-serif;
$robotCon: 'Roboto Condensed', sans-serif;


html, body {
	font-family: $robot;
	color: #1f1f1f;

	h1,h2,h3,h4,h5,h6 {
		user-select: none;
	}

	h1 {
		font-family: $robotCon;
		font-size: 40px;
		line-height: 1.3;
		font-weight: 700;
		text-transform: uppercase;
	}

	h2 {
		font-family: $robotCon;
		font-size: 38px;
		line-height: 1.5;
		font-weight: 400;
		color: $darkBlue;
		text-transform: uppercase;
	}

	h3 {
		font-family: $robotCon;
		font-size: 32px;
		line-height: 1.3;
		font-weight: 300;
		text-transform: uppercase;
	}

	h3.upper {
		font-family: $robotCon;
		font-size: 42px;
		line-height: 1;
		font-weight: 300;
		color: $mainGreen;
		text-transform: uppercase;
	}

	h4 {
		font-family: $robotCon;
		font-size: 24px;
		line-height: 1.3;
		font-weight: 300;
		text-transform: uppercase;
	}

	p, address {
		font-family: $robot;
		font-size: 15px;
		line-height: 1.3;
		font-weight: 300;
		letter-spacing: 1px;
		// text-transform: uppercase;
	}

	address {
		font-family: $robotCon;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 300;
		padding: 20px 0 20px 0;
	}

	p.cvr {
		font-family: $robotCon;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 300;
		padding: 0px 0 20px 0;
		text-transform: uppercase;
	}

	a {
		font-family: $robot;
		font-size: 16px;
		line-height: 1.3;
		font-weight: 300;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		@include trans(0.5s);
	}

	a:hover {
		letter-spacing: 1px;
	}

	a:active {
		outline: none;
		text-decoration: none;
	}

	blockquote {
		font-family: $robotCon;
		font-size: 26px;
		line-height: 1.3;
		font-weight: 300;
		padding: 30px 50px 30px 50px;
	}

	.body-text {
		margin: 55px 0;
	}

	p.paragraph {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		margin: 25 0 25px 0;
	}

	.float-text {
		float: left;
		margin: 51px 0 0 0;
	}
}
